[2014-07-14 21:22] piscisaureus opened #12 "`yo loopback:model` doesn't work on windows."
I already have a loopback application but it keeps asking whether I want to create one.

[code]

[2014-07-19 05:54] raymondfeng opened #20 "Add app.js to the root folder of scaffolded application"
A lot of Node and LoopBack 1.x users are used to running the application with `node app`. For the current project layout, we have to run `node server/server`.

[2014-07-19 20:23] #20 closed, assigned to nobody

[2014-07-22 18:22] #12 closed, assigned to nobody

[2014-07-24 01:43] greaterweb opened #25 "Model Creation Side Effects"
When running `yo loopback:model` a side effect of the model creation is minor updates to various `json` config files read by the generator.
### package.json order of properties

My `package.json` file had the `title` property listed before the `name` property. After running `yo loopback:model` and adding a new model, the order was reversed.
### newline at end of file removed

My projects leverage

[2014-07-24 17:14] greaterweb opened #27 "Feature Request: Custom Model Location"
Based on this discussion in the [LoopBack forum](https://groups.google.com/forum/#!topic/loopbackjs/Z-KBT5RBApw), it would be nice to have the option to select the output directory when creating a new model with `yo loopback:model foo`.

It was noted that in the near future there will be options to select the model destination. It would be great to have this look at the `_meta` `sources` values in

[2014-07-25 16:51] gilleswittenberg opened #29 "yo loopback:acl deny all"
generator-loopback version 1.1.1

Running yo loopback:acl and choosing the following options:

yo loopback:acl
[?] Select the model to apply the ACL entry to: (all existing models)
[?] Select the ACL scope: All methods and properties
[?] Select the access type: All (match all types)
[?] Select the role: All users
[?] Select the permission to apply: Explicitly deny access

Throws the following erro

[2014-07-25 18:20] #29 closed, assigned to nobody

[2014-07-26 05:24] Coobaha opened #31 "generator broken?"
Is generator missing some files? like server.js?

I am trying to generate sample app from getting started loopback guide.
Generator is making wrong tree.

[code]

also when i try to scaffold model
it fails after property name:

[code]

[2014-08-01 01:28] bdunnette opened #33 "Should root display client files by default?"
The README in the client directory states that it's the location for client HTML, etc.
However, by default, the generated server (specifically, `server/boot/root.js`) displays server status:

[code]

If the README is correct, shouldn't it have something like `app.use(express.static(__dirname + '/client'));` instead?

[2014-08-02 03:30] #31 closed, assigned to nobody

[2014-08-08 12:13] clark0x opened #35 "`slc loopback:relation` doesn't show built-in models"
Is this intended?

[2014-08-08 18:57] ritch opened #36 "Cannot call create of undefined"
Looks like the property relationship scope is not available when creating properties. This might be an issue in loopback itself or the workspace.

[2014-08-13 03:36] ladaltamirano opened #37 "When running "yo loopabck:model", during the process I get "Model not found: MyModel""
Hi Guys,

[code]

C:\Users\Acaspita\Documents\MyLoopbackProject\server>yo loopback:model
[?] Enter the model name: MyModel
[?] Select the data-source to attach MyModel to: db (memory)
[?] Expose MyModel via the REST API? Yes
[?] Custom plural form (used to build REST URL):
Let's add some MyModel properties now.

Enter an empty property name when done.
[?] Property name: Name
   invoke   loopback:p

[2014-08-13 03:42] sam-github opened #38 "default application name derived from directory is made invalid"
In a directory `my-app`, run `slc loopback`, default application name is apparently derived by replacing `-` with ` `, becoming`my app`, but that is invalid. The application name cannot "contain special characters (/@+%: )".

It appears that valid characters in the name, `-`, are being replaced with invalid characters, unnecessarily.

Example:

[code]

[2014-08-21 09:05] #35 closed, assigned to nobody

[2014-08-27 21:08] ritch opened #40 "Should be able to select no datasource when defining a model"
See also https://github.com/strongloop/loopback/pull/483
/cc @bajtos @kraman

[2014-08-29 17:04] superkhau opened #41 "slc loopback:datasource $datasourceName fails silently when run outside of the root dir"
cd $root/server
slc loopback:datasource $datasourceName
Go through the prompts.
Then nothing is added to datasources.json

Should give a warning or something like "Run this command again in the root dir" or detect the root dir automatically.

[2014-09-08 16:48] bajtos opened #44 "Incorrect instruction when running `yo loopback`"
`yo loopback` prints the following instructions at the moment:

[code]

A better version:

[code]

[2014-09-23 21:42] ritch opened #45 "Prompt for model base class"
`loopback:model` should prompt for the base class to use for the new model. It should offer a default based on datasource connector type (e.g. `Model` for no datasource, `PersistedModel` for database connectors).

https://github.com/strongloop/generator-loopback/blob/master/model/index.js#L58

[2014-09-25 09:23] bluestaralone opened #46 "Code inconsistent between slc loopback:model and slc run ?"
Currently i see this bug when i run command to create new model, as my testing this bug happen by inconsistent code between slc loopback:model and slc run. This is explain like like this:
1- slc loopback:model need all model.json/ "indexes" setting must be an array.
2- slc run need all model.json/ "indexes" setting must be an object.
=> So you only run correctly in case 1 but not correctly in case

[2014-09-25 21:19] #46 closed, assigned to nobody

[2014-09-26 16:18] #44 closed, assigned to bajtos

[2014-09-26 18:06] ritch opened #50 "Create the component generator."
[See the component example wiki for details.](https://github.com/strongloop/loopback-example-component/wiki)

[2014-09-29 07:25] bajtos opened #51 "Race condition causing data loss"
A follow-up for #47.

We have already serialized writes with https://github.com/strongloop/loopback-workspace/commit/6099e91c601f4b4691cb3e02ef778e210f4bff5d. But the requirement is to guarantee write requests to be placed in order. The granularity of writes at the moment is too high. For example, if two of the following calls are made in parallel:
1. model.accessControls.create --- adding an acl

[2014-09-29 18:36] ritch opened #52 "Create the policy generator"
This should be very similar to the `ModelDefinition` generator. [See the component wiki](https://github.com/strongloop/loopback-example-component/wiki/Middleware) for details.

[2014-10-02 21:44] ritch opened #54 "Create a component:configure generator"
In order to implement components as documented [here](https://github.com/strongloop/loopback-example-component/wiki), we need to add the ability to configure both middleware and components in a loopback app. This depends on these entities / APIs in the loopback-workspace.

Things to configure:
- add component model sources to `server/model-config.json`

[2014-10-07 17:42] crandmck opened #56 "slc loopback <appname> doesn't work as expected"
If you provide an `<appname>` argument to `slc loopback` it ignores the arguments and fails unexpectedly.  You would expect that if you provide the argument in the command line, then the tool should use that as the default when it prompts you for the directory, but it still uses `.` as the default.    If you accept the default, then the tool fails with a stack trace as shown below.

It should use

[2014-10-12 06:32] cowchimp opened #58 "`Workspace` is undefined on first try on Windows"
Hi.

I'm using Windows and trying to use loopback for the first time.

I wasn't able to install the `stongloop` module, and [this troubleshooting page](http://docs.strongloop.com/display/SL/Installation+troubleshooting#Installationtroubleshooting-Windowsissues) suggested to use the loopback generator directly in this case.
So I ran `npm install -g yo` and `npm install -g generator-loopback` succes

[2014-10-13 15:35] #58 closed, assigned to nobody

[2014-10-21 16:09] #40 closed, assigned to bajtos

[2014-10-30 16:13] raymondfeng opened #60 "Create a model:configure generator"
As a developer, I would like to configure a model when or after it is defined. It's desirable to have a separate generator to configure a model.

[2014-10-30 16:15] raymondfeng opened #61 "Create a policy:configure generator"
As a developer, I would like to configure a policy with a generator.

[2014-10-31 23:15] crandmck opened #63 "Relation generator does not support hasManyThrough"
For example:

[code]

Please add hasManyThrough relation type.

[2014-11-04 18:51] altsang opened #66 "slc loopback should still recommend cd <directory name>"
when you scaffold a new loopback app with a project/directory name already in the arguments, it should still tell you to change directory before scaffolding your model

`slc loopback myapp`

the output says...

`slc loopback:model` next
it should first still say
`cd myapp`

[2014-11-05 18:24] #56 closed, assigned to crandmck

[2014-11-05 18:50] #63 closed, assigned to crandmck

[2014-11-06 06:00] #45 closed, assigned to ritch

[2014-11-13 22:06] #38 closed, assigned to sam-github

[2014-11-27 17:05] rmg opened #69 "Arrow keys not working on Windows"
From strongloop/strongloop#182 reported by @ppoliani

[2014-11-28 11:20] moll opened #70 "Must.prototype.permutationOf"
Hey,

Just saying that your contribution, @bajtos, was merged a few months ago. ;) Thanks again!
Related to: https://github.com/strongloop/generator-loopback/blob/535701af2aaa6546558acd29722c2a448d519d11/test/common.js#L26

Cheers

[2014-11-28 13:26] #70 closed, assigned to nobody

[2014-12-04 18:20] #66 closed, assigned to raymondfeng

[2014-12-08 15:04] bajtos opened #75 "Support server-less projects"
Modify sub-generators like `slc loopback:model` to support projects with no server component (e.g. a component project).

[2014-12-10 10:36] #37 closed, assigned to nobody

[2014-12-10 17:05] #25 closed, assigned to bajtos

[2014-12-12 18:05] bajtos opened #77 "Add more project-related prompts"
E.g. ask the user for the project description, license, repository type & URL.

See also https://github.com/strongloop/loopback-workspace/pull/177

[2014-12-31 19:05] crandmck opened #79 "ACL generator doesn't cover required cases"
I’m trying to create the ACL entry to allow authenticated users to write to the create property to recreate https://github.com/strongloop/loopback-getting-started-intermediate/blob/master/common/models/review.json#L44 as provided by @superkhau.

Here is what I entered:
[code]

But in `review.json` this yields:
[code]
But it’s supposed to be
[code]

The accessType should be `WRITE` not `EXECUTE`.

[2015-01-08 01:18] crandmck opened #80 "Status middleware triggered for ALL URLs for default scaffolded app"
When you scaffold an app, by default the status middleware gets triggered not only for the root URL, but for _any_ URL, except for valid API URLs.  So `http://0.0.0.0:3000/`, `http://0.0.0.0:3000/foo`, `http://0.0.0.0:3000/foo/bar/`, and `http://0.0.0.0:3000/foo/bar.html` all trigger the status middleware.

This is a change to the behavior of the default scaffolded app, which used to trigger the s

[2015-01-08 18:03] crandmck commented on #80
@bajtos PTAL when you have a moment.

[2015-01-09 13:12] Izhaki opened #81 "slc loopback:model doesn't update model-config.json"
When I run

    slc loopback:model Whatever

My `common` folder seems to be updated alright, but no change to the `model-config.json` file.

Any ideas why?

[2015-01-09 16:21] raymondfeng commented on #81
Do you try to create a new model or update an existing one? What changes do you expect to have in model-config.json?

[2015-01-09 17:33] Izhaki commented on #81
I'm trying to create a new one. What it doesn't add is this:

    },
        "Statement": {
        "dataSource": "MongoDB",
        "public": true
    },

[2015-01-09 22:02] raymondfeng commented on #81
I cannot reproduce it. What version of `slc` do you have? You can find it out by `slc --version`.

What are the steps to reproduce it?

[2015-01-10 15:14] Izhaki commented on #81
Another things (which I'm pretty sure off) is that running this command messes up package.json. Is this possible?

I will be able to do some further tests on Tuesday, one thing that could have gone wrong is that fact that I'm running this on a repository that was clone to a different machine and thus I had to run `npm install` - this may have messed up things.

[2015-01-12 15:09] bajtos commented on #80
@crandmck good catch, the fix is pending review.

[2015-01-13 18:26] bajtos commented on #79
@ritch and/or @raymondfeng: you are most familiar with the ACL implementation, can you please comment?

[2015-01-13 18:29] bajtos commented on #81
Do you have multiple `package.json` files in your project tree (besides node_modules dependencies)? In such case you have run into https://github.com/strongloop/loopback-workspace/issues/181

This may be a problem with the yeoman integration. Can you please run `npm install -g generator-loopback` and confirm that the issue can be reproduced via `yo loopback:model Whatever ` too?

[2015-01-13 18:29] raymondfeng commented on #79
If the method name (i.e., `property`) is specified in the ACL entry, accessType should be `EXECUTE`. READ and WRITE can be used as wildcard. Please note now we allow strong-remoting to define accessType for each remote method to be READ or WRITE.

[2015-01-13 18:29] bajtos commented on #81
We will also need instructions how to reproduce the original problem (`server/model-config.json` not updated) on our machines, otherwise we can't really help you.

[2015-01-13 20:00] crandmck commented on #80
Since https://github.com/strongloop/loopback/pull/996 was not merged, perhaps a compromise would be to bind the status middleware to a more specific route, for example `/status`, rather than the root, where it  becomes a "catchall".  Just a thought.

[2015-01-13 20:02] crandmck commented on #80
Oh wait, from https://github.com/strongloop/loopback-workspace/pull/182 it looks like you're going to put the status middleware back into `server/boot/root.js`... is that correct?

[2015-01-14 00:04] Izhaki commented on #81
@bajtos Yes - I have package.json on my root and then on `/client`

I guess that's already a great lead for getting things back to work. I'll report results as soon as I have them.

Closing the issue, and will reopen if package.json isn't the issue.

Thanks!

[2015-01-14 00:04] #81 closed

[2015-01-14 13:54] bajtos commented on #80
This does not solve the problem, the middleware would become "catchall" for URLs starting with "/". Note that the main reason for this whole status URL is to provide a sensible response when opens `http://localhost:3000/` served by a new project. Before we decided to report status, the server was responding with 404.

Yes.

[2015-01-22 07:24] bajtos commented on #80
Fixed by https://github.com/strongloop/loopback-workspace/pull/182 and https://github.com/strongloop/generator-loopback/pull/82

@crandmck please verify.

[2015-01-22 19:06] crandmck commented on #79
So it appears that the generator is correct, and Simon fixed this in loopback-getting-started-intermediate and I made the corresponding fix in GS2.

I reviewed [Controlling data access](http://docs.strongloop.com/pages/viewpage.action?pageId=3836269) but it's not clear if we need to change anything.  The responses that you give to `slc loopback:acl` are not affected, only what the generator puts i

[2015-01-22 19:06] #79 closed

[2015-01-23 01:28] crandmck commented on #80
LGTM.  I'm in the process of going through the docs to change them accordingly.

@superkhau Unfortunately, this will require changes to the sample apps (or rather reversion back to the way it was before phases).

[2015-01-23 01:34] crandmck commented on #80
Updated docs.  Reassigning to Simon to make changes to samples.  From doc standpoint, the only ones that are critical are loopback-getting-started and loopback-getting-started-intermediate.

[2015-01-27 00:52] chandadharap commented on #80
This is simply not scalable. @altsang @raymondfeng @bajtos There are 30+ examples. https://github.com/strongloop/loopback-example

Simon has been doing nothing but updating examples. He will not be able to get to fixing LB bugs at all at this rate.

This needs revisiting. Can we prune and remove some examples. Or mark "deprecated" or "may be out of date" or something? I need Simon to fix LB bugs,

[2015-01-27 01:04] crandmck commented on #80
It does seem like a waste of time for Simon....  If I may, I would like to suggest that loopback-getting-started and loopback-getting-started-intermediate be updated (since the tutorials refer to them extensively and rather specifically), and then simply note in https://github.com/strongloop/loopback-example that the other examples don't reflect this particular change.  It's a very specific and un

[2015-01-27 10:22] bajtos commented on #80
The approach we use in `slc loopback:example` is to implement a generator that builds the example via calls to `slc loopback`, `slc loopback:model`, etc. That way it's easy to update the example to the latest version of the scaffolded code by simply re-running the generator again and committing the changes. Then we can implement a tool that will walk through all example repos and execute the updat

[2015-02-16 18:14] superkhau opened #85 "Prompt for generation of basic client side assets"
As discussed previously, the generator should prompt the user to generate `client/public/index.html` and serve it up by default in place of the server status on the `/` route.

[2015-02-17 22:45] superkhau opened #86 "Use native methods to copy .gitignore"
Refactor `injectWorkspaceCopyRecursive` to use native methods to copy `gitignore` to `.gitignore`. See https://github.com/strongloop/loopback-workspace/pull/186

[2015-02-17 23:54] crandmck commented on #80
Moved to https://github.com/strongloop-internal/scrum-loopback/issues/186.

[2015-02-17 23:54] #80 closed

[2015-02-18 02:27] superkhau commented on #86
Closing, duplicate in PR https://github.com/strongloop/generator-loopback/pull/87

[2015-02-18 02:27] #86 closed

[2015-02-20 20:01] paulomcnally opened #89 "(node) warning: possible EventEmitter memory leak detected. 11 change listeners added. Use emitter.setMaxListeners() to increase limit."
Enter an empty property name when done.
    ? Property name: dose_man_hour
       invoke   loopback:property
    ? Property type: number
    ? Required? Yes

    Let's add another SubActivity property.
    Enter an empty property name when done.
    ? Property name: dose_man_day
       invoke   loopback:property
    ? Property type: number
    ? Required? Yes

    Let's add another SubActivity pro

[2015-02-24 04:50] superkhau opened #90 "Add generator for boot scripts"
I would like to add a generator to scaffold boot scripts, something like:

[code]

@bajtos @raymondfeng @ritch Thoughts?

Connected to #93

[2015-02-24 07:38] bajtos commented on #90
Sure, why not. Perhaps `loopback:boot-script` would be a better name.

At the moment, loopback-workspace does not provide any API for boot scripts. I don't think it makes much sense to introduce such API, thus I am proposing to keep the implementation of this feature in the generator only.

[2015-02-24 07:47] raymondfeng commented on #90
+1. We should also add 'loopback:method' to generate custom remote method, which is even more useful.

[2015-02-24 08:36] superkhau commented on #90
@raymondfeng +1 Remote method is probably even more important. We should probably go with `loopback:remote-method` (sticking with @bajtos `loopback:boot-script` suggestion from above).

We should probably also do `loopback:operation-hook` to make it feature complete.

[2015-02-26 22:48] crandmck opened #92 "app generator gives Node warning "possible EventEmitter memory leak detected.""
Although it's only a warning, it certainly doesn't give a great first impression for someone just creating the sample app.
[code]

[code]

[2015-02-26 23:32] rmg commented on #92
@raymondfeng @bajtos similar to strongloop/loopback#404?

Seems to pop up occassionally in yeoman land:
 * yeoman/generator#641
 * yeoman/yo#64

[2015-02-27 09:13] bajtos commented on #92
Perhaps @superkhau can take a look?

[2015-02-27 22:13] superkhau commented on #92
Sure. @chandadharap Can you prioritize this on waffle? TY.

[2015-02-28 03:07] xianlin commented on #41
So far it is still the same behavior if you run "slc loopback:datasource" outside the root dir of loopback project directory.

[2015-03-04 07:57] bajtos commented on #89
Possibly a duplicate of #92

[2015-03-05 01:38] superkhau opened #94 "Add remote method generator"
We should add the `slc loopback:remote-method` command to scaffold custom remote methods.

See #90

**Subtasks**
- [x] First cut implementation
- [x] Http mapping of arguments (see https://docs.strongloop.com/display/public/LB/Remote+methods?src=search&src=search#Remotemethods-HTTPmappingofinputarguments)
- [x] Add `isStatic`
- [x] Check input valid
- [x] Add unit tests
- [x] Either add a dummy me

[2015-03-05 01:42] superkhau opened #95 "Add operation hook generator"
We should add the `slc loopback:operation-hook` command to add operation hook to models.

See #90

[2015-03-05 01:42] superkhau commented on #90
Track at https://github.com/strongloop/generator-loopback/issues/94

Track at https://github.com/strongloop/generator-loopback/issues/95

[2015-03-05 03:10] superkhau commented on #90
PR at https://github.com/strongloop/generator-loopback/pull/93

[2015-03-09 21:23] superkhau commented on #90
@bajtos Removed `yo-rc.json` related code. PTAL again.

[2015-03-11 23:40] #90 closed

[2015-03-11 23:46] superkhau opened #97 "Add unit test to ensure sub-generators can be run from any subdir"
Connected to #96

[2015-03-12 07:55] bajtos commented on #97
Look at `test/model.test.js`. In your test, you will need to `chdir` to a different directory before running the generator. I think you don't need to change the path back because yeoman test helpers do that for you - see https://github.com/yeoman/generator/blob/461a181d9fa463d139faed3456ce33f5a993ca73/lib/test/helpers.js#L166-L185

[2015-03-22 16:45] lius opened #98 "slc loopback:* not showing models from other folders present on model-config.json"
I'm organising the models in subfolders inside common/models, registering each one on model-config.json (_meta.sources property). The application runs and works fine, but these models are not showed on slc loopback:* commands, just the others ones (default from LB).

strongloop: 2.10.3
loopback: 2.13.0
juggler: 2.19.0

[2015-03-30 13:33] bajtos commented on #94
It would be good to land https://github.com/strongloop/loopback/pull/1163 first.

[2015-03-30 13:35] bajtos commented on #98
Thank you for reporting the issue. I am afraid I don't fully understand your scenario. Please provide us with an application and steps to reproduce the issue locally, as described in [Reporting Issues](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report).

[2015-03-30 14:12] lius commented on #98
Ok.

Em seg, 30 de mar de 2015 às 10:35, Miroslav Bajtoš <
notifications@github.com> escreveu:

[2015-04-08 07:11] leftclickben commented on #27
:+1:

When developing a server-only application (e.g. just exposing an API and nothing else) it makes no sense to separate the models out to `common/models`, they should be in `server/models`.

[2015-04-21 10:48] bajtos commented on #27
For server-only applications, I was thinking about a project layout where all `server/*` files are moved to project's root, i.e.

[code]

Thoughts?

[2015-04-21 15:48] raymondfeng commented on #27
@leftclickben `server/models` is already supported by LoopBack runtime. Maybe we should add a prompt to `slc loopback:model` to tell if a model is defined for server only.

@bajtos That will probably complicate the tooling quite a bit.

[2015-04-21 15:53] bajtos commented on #27
Sure, we can work incrementally, add support for `server/models` now and defer the rest for later.

In the language of loopback-workspace, each project has multiple "facets". Typically there are two facets - "common" and "server".

The solution is to list all project facets in generator-loopback and let the user decide which facet to use. At the moment, the facet name is hard-coded to "common". Se

[2015-04-22 03:12] leftclickben commented on #27
:+1:

A prompt in the generator to select the facet would be a simple solution.  I'll see if I can put up a PR.

The only other approach I can think of is to set a project-level flag that changes the facet.  That would work for the case where you only want server models, but wouldn't allow some models in `common/models` and some in `server/models`, so I think asking for each model is probably the

[2015-04-22 21:36] lius opened #99 "[slc loopback:model] There is a memory leak when adding more than 10 properties in a row"
[code]

[2015-04-24 16:03] bajtos commented on #99
Thank you for reporting the issue. What's your version of Node, generator-loopback, loopback-workspace and yo?

[2015-04-30 23:27] crandmck opened #101 "App generator "Next steps" instructions outdated"
When creating a new app with `slc loopback`, the instructions it provides at the end are outdated:
[code]
Need to:
- Remove the line about StrongOps, when its deprecated.  Maybe replace with something about Arc?
- Remove the line about using `slc run` because we are deprecating it and not telling people to use it any more.  Should tell them to use `node .` or `slc start`.

[2015-05-04 09:10] bajtos commented on #41
I believe this has been fixed by #96. Feel free to reopen if the problem persists in the newly scaffolded projects.

[2015-05-04 09:10] #41 closed

[2015-05-05 11:42] lius commented on #99
io.js 1.6.2
generator-loopback 1.9.0 (from strongloop dependency)
loopback-workspace 3.10.0 (from generator-loopback dependency)
yeoman-generator 0.18.10 (from generator-loopback dependency)

[2015-05-05 15:52] #99 closed

[2015-05-11 13:40] transedward commented on #35
Now it will be shown, however seems like it won't be shown in common/models/
how can we know it's really affected or someday we wanna change?
Is any other way to do with that?

[2015-05-11 15:45] miteshsondhi commented on #98
git@github.com:miteshsondhi/bug-dir-models.git

Clone the repo and try slc:loopback. It does not show "test" model. But app is working fine.

[2015-05-12 08:11] superkhau commented on #92
@crandmck I believe this is fixed in the latest version of LoopBack. Anyways, run `slc update` and then `slc loopback:example` and let me know if you still see the warnings. For now, I will close this issue as I believe it is resolved.

[2015-05-13 18:13] bajtos commented on #35
I am afraid I don't understand you. Could you please open a new GH issue for your problem and describe steps to reproduce it? (See the [wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report).)

[2015-05-14 09:06] bajtos commented on #98
@miteshsondhi thank you for the example repo, now I understand the problem.

The thing is, `slc loopback` tooling supports only one opinionated project layout at the moment, where the location of model files is hard-coded as `models/*.json`. As a rule of thumb, if the model was not created using `slc loopback:model`, then we don't guarantee that it will be picked up.

Let me explain the difference

[2015-05-14 09:06] #98 closed

[2015-05-14 15:15] transedward opened #103 "`slc loopback relation` should not offer build-in models for "from""
as mentioned in #35

https://github.com/transedward/loopback-sandbox(the same box I tried reduplicating with my question)

![screen shot 2015-05-14 at 11 07 25 pm](https://cloud.githubusercontent.com/assets/7189930/7634531/133c4236-fa8e-11e4-9c8e-53de1ad6c642.png)

I used `slc loopback:relation` with two built-in models: AccessToken and User as you can see
but After finishing, there is nothing wou

[2015-05-14 15:16] transedward commented on #35
thanks for replying, @bajtos already add a new issue

[2015-05-19 08:27] transedward commented on #35
seems like the same problem was discussed on strongloop/loopback#397
hope to see the new solution coming out
but currently, relation still can be defined on generator but can't be seen on json file seems pretty weird and bug-prone.
I don't think it's a good idea.
Probably prohibit this approach and prompt user to do it in built-model.js is better

[2015-05-19 09:10] transedward commented on #103
seems like the same problem was discussed on strongloop/loopback#397
hope to see the new solution coming out
but currently, relation still can be defined on generator but can't be seen on json file seems pretty weird and bug-prone.
I don't think it's a good idea.
Probably prohibit this approach and prompt user to do it in built-model.js is better
@bajtos

[2015-05-25 15:12] bajtos commented on #103
+1 for modifying the generator to prevent users from creating a relation on a model that cannot be changed (e.g. a built-in model).

[2015-06-02 13:51] bajtos commented on #101
@altsang what's your opinion on this?

See #100 and the discussion we have there.

[2015-06-02 18:43] altsang commented on #101
@bajtos  - `node .` for details see #100 , thx

[2015-06-02 21:41] crandmck commented on #101
@bajtos For the StrongOps part, you can confirm with @chandadharap or @altsang that StrongOps is being deprecated.  Just not sure what text to replace it with, if any.

[2015-06-03 19:03] crandmck commented on #101
Per conversation w/Al, replace
[code]
with
[code]
And replace:
[code]
with
[code]

[2015-06-16 16:45] raymondfeng opened #105 "Document slc loopback:middleware"

[2015-06-19 15:44] donaldffortin commented on #92
strongloop 4.0.4
node 0.12.4
OSX 10.9.5

We just added a model and generated this warning message.  It appears that things still work.  After reviewing the various postings, it seems like we need to place emitter.setMaxListeners(0) somewhere to suppress the message.  What is the emitter in loopback that is causing this warning? Is there an example of how/where to setMaxListeners?  Thanks in advanc

[2015-06-19 16:43] bajtos commented on #92
Using the 8605c16 and the following dependencies, I am able to reproduce the problem by running `npm test` in the project.

[code]

[2015-06-22 19:01] jorgeramos opened #106 "running model generators (and others) outputs json file in single line"
before, the generated or updated json files would be nicely formatted but now the contents appear in a single line.

[2015-06-23 19:40] raymondfeng commented on #106
Duplicate of https://github.com/strongloop/loopback/issues/1474

[2015-06-23 19:40] #106 closed

[2015-06-23 20:26] lius opened #107 "slc loopback:* is removing remote methods defined on model.json"
The generator slc loopback:* is erasing the definitions of remote methods present in model's json files (common/models). BTW, the files are reformatted, losing other changes made.

When finished the generator executions (for any parameters, like models, acls, etc), the property "methods" of all files of models has its contents replaced with []. Although this wrong behaviour, the replacement by an

[2015-06-24 13:55] bajtos commented on #107
Hi @lius, thank you for reporting the issue. I think we need to fix the way how loopback-workspace represents remote methods in model definition. It may be enough to fix the following line:

https://github.com/strongloop/loopback-workspace/blob/a0a9eea8cf617c7a9fd2828c623bc482b4fe40ea/models.json#L179

[code]

Would you mind contributing the fix yourself?

[2015-06-24 19:51] lius commented on #107
Yes. Thanks!

[2015-06-25 15:32] #105 closed

[2015-07-07 23:45] superkhau commented on #92
@donaldffortin I can't reproduce this. Can you provide the steps to reproduce? My steps are as follows:

[code]

@bajtos I tried:

[code]

Closing. Reopen if you guys are still running into issues and can provide exact steps to reproduce.

[code]

[2015-07-07 23:48] #92 closed

[2015-07-08 12:00] donaldffortin commented on #92
As I tried to reproduce the conditions similar to what you have done, I realized that when I reported the issue, I had added the file parameter to datasources.json as shown below.

{

  "db": {

    "name": "db",

    "connector": "memory" ,

   "file":"db.json"

}

}

After I had added the 12th model to our application was when the issue occurred. Removal of the file parameter eliminates the emit

[2015-07-08 18:18] superkhau commented on #92
Interesting, I do not see any event emitter warnings even with the `file` key being set. I didn't add 12 models though. If anyone else reports something more concrete, I will check again. Thanks for the report!

[2015-07-08 19:49] crandmck commented on #101
This is fixed.

[2015-07-08 19:49] #101 closed

[2015-07-08 20:06] rmg commented on #92
If it is adding listeners per-model, which seems likely, then that would be the cause. Note that #102 increased the limit to 256, so that would suggest that each model adds more than a few listeners.

[2015-08-06 22:55] #107 closed

[2015-08-13 07:57] jamesjjk commented on #69
@bajtos Having a problem with arrow keys on our win machines. Running windows 10, latest version of npm 2.13.4, node (io) 2.5, using standard command. Arrow keys work on slc:loopback, slc:model but do not work on relations, acl etc.

[2015-08-14 20:41] rmg opened #109 "Deprecated dependencies"
Currently `npm install` spits out some deprecation warnings related to some nested dependencies. It looks like upgrading to yeoman-generator@0.20.x will clear them up.

[code]

Originally reported in strongloop/strongloop#243

[2015-08-15 00:03] rmg commented on #109
Looks like #110 will resolve this if/when it is merged.

[2015-08-22 07:41] bajtos commented on #69
@jamesjjk What version of `loopback-generator` do you use? Please upgrade to `v1.11.0` released on Aug 17th and open a new GH issue if the problem is still present. Can you reproduce the bug using different yeoman generators (see http://yeoman.io/generators/)?

[2015-08-30 13:58] jamesjjk commented on #69
@bajtos Not having the problem with other yo generators: version

strongloop v5.0.0 (node v2.5.0)
├── strong-arc@1.8.1 (15814c0)
├── strong-build@2.0.4 (9294f54)
├── strong-deploy@3.0.0 (bee617c)
├── strong-mesh-models@8.0.0 (1b220f7)
├── strong-pm@5.0.0 (dbaa1a5)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.1 (b17cbc0)
├─┬ strong-supervisor@3.0.2 (539c0ce)
│ └── strong-agent@1.6.4
├──

[2015-09-14 21:23] crandmck opened #113 "Application generator should create app with declaratively loaded loopback.rest and explorer"
Recent changes (e.g. https://github.com/strongloop/loopback-boot/pull/149 and https://github.com/strongloop/loopback-example-app/pull/77) enable an app to load loopback.rest declaratively in `middleware.json` and loopback.explorer via `component-config.json`.
The application generator needs to reflect this.

So by default, the generated `middleware.json` should have the following to load REST and

[2015-09-14 21:27] crandmck commented on #113
@bajtos suggested that @hacksparrow could handle this fix, but I know Al wants him to focus on the Express generator work.  I have assigned to @chandadharap to sort this out.

[2015-09-15 09:12] bajtos commented on #113
We need to change `server/server.js` too. The pull request https://github.com/strongloop/loopback-example-app/pull/77 contains all changes we need to make. loopback-example-app should contain exactly the output of `slc loopback:example`.

[2015-09-16 16:19] hacksparrow commented on #113
An issue in `loopback-workspace` - https://github.com/strongloop/loopback-workspace/issues/228 - is holding back the update to the generator.

[2015-09-16 18:38] crandmck commented on #113
Looks like you can workaround that issue...let me know if there are any other questions or issues.

[2015-09-17 17:09] hacksparrow commented on #113
https://github.com/strongloop/loopback-workspace/pull/230 addresses this issue in whole.

Opened a PR, https://github.com/strongloop/generator-loopback/pull/114, updating a unit test to ensure the changes introduced by https://github.com/strongloop/loopback-workspace/pull/230 are taken into consideration.

[2015-09-21 15:08] bajtos commented on #69
Thanks @jamesjjk.

I am afraid I don't have a Windows10 machine at the moment, thus I cannot troubleshoot this myself now :(

[2015-09-22 09:11] hacksparrow commented on #113
@crandmck @bajtos I think we can close this now, fixed in `loopback-workspace@3.18.0`.

[2015-09-22 14:11] #113 closed

[2015-09-22 14:12] bajtos commented on #113
:+1:

[2015-10-01 19:07] Sequoia opened #116 "deprecated Yeoman generator#invoke called from loopback:model on property creation"
[code]
not clear if #109 fixes this, I don't see references to `invoke` in the patch.

[2015-10-01 19:08] Sequoia commented on #116
Using the scaffolder is one of the first interactions new users have with LoopBack; this could def. throw someone off track.

[2015-10-19 21:11] crandmck opened #118 "Do not allow relation name to be the same as property name"
The issue https://github.com/strongloop/loopback-datasource-juggler/issues/735 noted that although the generator allows it, a relation name should not be the same as the property name.

The generator should provide an appropriate error message and disallow the choice.

[2015-11-17 18:09] bajtos commented on #95
We agreed with @superkhau that the added value of this subgenerator would not justify maintenance effort required.

[2015-11-17 18:09] #95 closed

[2015-11-18 17:23] Amir-61 commented on #109
@rmg I'm closing this issue since https://github.com/strongloop/generator-loopback/pull/110 has already been merged... Thanks!

[2015-11-18 17:28] #109 closed

[2015-11-18 20:54] Amir-61 commented on #89
Possibly duplicate of https://github.com/strongloop/loopback/issues/404; we close this.

[2015-11-18 20:55] #89 closed

[2015-11-24 00:58] crandmck opened #122 "Update docs for new common or server CLI option"
See https://github.com/strongloop/generator-loopback/pull/117

[2015-11-24 14:49] #118 closed

[2015-11-24 20:40] Amir-61 commented on #27
I'm closing this issue as it has already been merged in https://github.com/strongloop/generator-loopback/pull/117/files

Thanks!

[2015-11-24 20:41] #27 closed

[2015-11-25 12:45] freeman128 opened #123 "Arc"
How can I run loopback arc if you installed it with yeoman ? Documentation is missing this part.

Create a model in your app
    $ yo loopback:model
  Compose your API, run, deploy, profile, and monitor it with Arc
    $ slc arc
  Run the app
    $ node .

[2015-11-25 14:38] jannyHou commented on #94
A record for subtasks:
- [x] first cut implementation
- [ ] http mapping of arguments
- [ ] add `isStatic`
- [ ] check input valid

[2015-11-27 09:09] bajtos commented on #85
For the generated apps with a HTML client, we should consider enabling Content Security Policy via helmet. See https://github.com/strongloop-internal/scrum-loopback/issues/583.

[2015-11-27 09:15] bajtos opened #125 "Implement generator for enabling HTTPS (TLS)"
A public follow-up for the internal discussion in https://github.com/strongloop-internal/scrum-loopback/issues/607.

Implementing a new slc command that can ask the user for location of certificates (or perhaps optionally generate self-signed certs) and make all configuration changes as necessary, so that the app is configured with production-ready TLS & middleware settings.

[code]

Security midd

[2015-11-27 10:06] bajtos commented on #94
@jannyHou I moved the list of subtasks to issue description to keep them at the top.

[2015-11-27 10:33] bajtos commented on #94
@jannyHou Nice start in #124! Please continue with adding tests for the new generator as it is implemented now before working on additional features.

[2015-11-27 21:51] jannyHou commented on #94
@bajtos yeah good to have them on top, thanks a lot! I would add tests first, then move to features.

[2015-12-01 17:25] gunjpan opened #126 "Loopback example app fails to find `yeoman-environment` module in npm@3.x.x"
`generator-loopback` fails to find `yeoman-environment` module in npm@3.x.x
Need to fix it in order to support : `npm@3.x.x` and retain support for `npm@2.x.x`. For more info on issue(error message) see: Connect to: https://github.com/strongloop-internal/scrum-loopback/issues/589

[2015-12-11 14:04] bajtos commented on #94
@jannyHou can we close this issue now, since #124 has been landed?

[2015-12-11 14:50] jannyHou commented on #94
@bajtos sure, thank your for reviewing the pr and guiding me to improve the implementation! since it's landed I will close the issue here.

[2015-12-11 14:50] #94 closed

[2015-12-11 16:26] jannyHou opened #128 "Update generators and tests to use shared method"
I am opening this issue for updating generator `index.js` files and tests to use shared method.

I extracted function `readJsonSync` to `/test/common.js`:
https://github.com/strongloop/generator-loopback/blob/master/test/common.js#L67
related files to be changed:
[search result](https://github.com/strongloop/generator-loopback/search?utf8=%E2%9C%93&q=readJsonSync)

And function `getTypeChoices` to

[2015-12-14 17:42] crandmck opened #129 "Add docs for remote method generator"
https://github.com/strongloop/generator-loopback/pull/124

[2015-12-14 23:13] crandmck commented on #122
Updated:
 - https://docs.strongloop.com/display/LB/Model+generator
 - https://docs.strongloop.com/display/LB/Create+a+simple+API

[2015-12-14 23:13] #122 closed

[2015-12-15 20:01] jannyHou commented on #123
hey @freeman128 thanks for your suggestion!
All of our commands are list here in doc:
https://docs.strongloop.com/pages/releaseview.action?pageId=3836281
I will see if we need to add `slc arc` there!

BTW, In my opinion an individual dependency repository  is not the best place to explain everything :) because users always go to our [detailed doc website](https://docs.strongloop.com/display/SL/Ins

[2015-12-15 21:43] #123 closed

[2015-12-17 08:38] aporlov commented on #69
Quick resolve for Windows 10. Choose "Use legacy console (requires relaunch)" in cmd.exe shortcut properties.

[2015-12-27 07:08] Amir-61 opened #131 "Some `slc loopback` commands cannot move through selections"
Connect to: https://github.com/strongloop/loopback/issues/1731

For some slc loopback commands (e.g. slc loopback:property) the selection does not work with some specific version of Node.

Please see https://github.com/strongloop/loopback/issues/1731

[2016-01-05 15:41] jannyHou commented on #128
The implementation has been merged, I am closing the issue here, thanks!
https://github.com/strongloop/generator-loopback/pull/132

[2016-01-05 15:41] #128 closed

[2016-01-08 19:38] jannyHou commented on #103
In pr https://github.com/strongloop/generator-loopback/pull/133,
I removed readonly models from choice in `acl`, `property` and 'relation' generators.
Since pr is merged, I am closing it here. thank you!

[2016-01-08 19:38] #103 closed

[2016-01-08 20:59] MartinLogan opened #135 "slc loopback:swagger does not generate valid code from swagger.json if a parameter is a $ref"
I have a swagger.json that uses $ref to define a parameter. When I run `slc loopback:swagger` - this generates a method with undefined params .

*Source*
[code]
This produces:

[code]

[2016-01-20 09:00] bajtos commented on #116
This is tricky. We are using yeoman generators in a way that was supported in pre-v0.17 days, but that is different from the new direction where yeoman is heading nowadays.

Our design is based on assumption that generators work like javascript methods: if we want to compose "loopback:model" with "loopback:property", we can simply `generator#invoke()` the later and the execution of the former woul

[2016-01-22 05:54] kraman commented on #116
@bajtos I vote for pinning the version while we work on a better fix or move away from loopback yoman generator

[2016-01-25 05:24] jannyHou commented on #116
I will figure out the version that doesn't give warning ASAP. I think no matter which short term workaround we take, It's always better to know the "safe" version.

[2016-01-26 17:31] bajtos commented on #116
@jannyHou the `package.json` says ` "yeoman-generator": "^0.21.1",`, I would start with looking at the version `0.21.1`.

[2016-01-26 22:40] jannyHou commented on #116
Thank you @bajtos the latest available version is 0.18.10 but it causes some test failures, I am looking into those failures now :) Details:
https://github.com/strongloop-internal/scrum-loopback/issues/754#issuecomment-175231847

[2016-01-30 09:37] bajtos opened #139 "Refactor to play well with Yeoman's run loop"
A follow-up for https://github.com/strongloop/generator-loopback/issues/116#issuecomment-173134304.

We are using yeoman generators in a way that was supported in pre-v0.17 days, but that is different from the new direction where yeoman is heading nowadays.

Our design is based on assumption that generators work like javascript methods: if we want to compose "loopback:model" with "loopback:propert

[2016-01-30 09:37] bajtos commented on #116
I created a follow-up issue for the long-term solution here: https://github.com/strongloop/generator-loopback/issues/139

[2016-02-01 10:33] #116 closed

[2016-02-03 02:23] superkhau commented on #97
@gunjpan Reassigning to you since you can probably take this one on (and you are the repo expert here anyways).

[2016-02-05 01:12] hideya opened #141 "export-api-def: Refinement for operationId?"
While trying out `slc loopback:export-api-def` and [swagger codegen](https://github.com/swagger-api/swagger-codegen) to generate client side SDKs, I noticed that swagger codegen uses `operationId` as the name for the generated method on the client side.

Currently, `operationId` sometimes becomes like `User.prototype.__findById__accessTokens`.  Then, the swagger.io generated Objective-C method for

[2016-02-05 01:15] hideya opened #142 "export-api-def: Inconsistency between id's type in method argument and model property?"
While trying out `slc loopback:export-api-def` and [swagger codegen](https://github.com/swagger-api/swagger-codegen) to generate client side SDKs, I noticed that attributes for `id` property of models is like:
[code]
whereas `id` argument for method invocations looks like the following:
[code]
This `id`'s type inconsistency between `number` and `string` results in the same inconsistency in the gen

[2016-02-05 01:23] hideya commented on #141
Closing this as this should have been fined against https://github.com/strongloop/loopback

[2016-02-05 01:23] #141 closed

[2016-02-05 01:23] hideya commented on #142
Closing this as this should be filed against https://github.com/strongloop/loopback

[2016-02-05 01:23] #142 closed

[2016-02-12 15:59] jannyHou opened #145 "loopback:relation should give warning if no editable models are found"
Since build-in models are not shown in relation generator anymore, it would be better to warn user if he runs `slc loopback:relation` without any model created.

IIRC there are two more places related to this, will figure out them later.

[2016-02-26 11:52] bajtos opened #151 "Prompt for datasource configuration"
Some connectors (e.g. loopback-connector-cloudant) do not provide any default configuration and require certain settings (e.g. `url`) to be provided by the user. As a result, after a new datasource backed by Cloudant connector was added, the application crashes at startup.

Fortunately, loopback-workspace provides the description of what configuration options are required by each known connector -

[2016-03-01 14:27] bajtos opened #153 "yo loopback --no-explorer"
Add a new CLI option to exclude loopback-component-explorer from the scaffolded project.

[2016-03-02 00:28] cgole commented on #151
Tried this with mysql and it worked. More testing here - https://github.ibm.com/apimesh/scrum-platform-foundation/issues/118

$ apic create --type datasource
? Enter the data-source name: d1
? Select the connector for d1: MySQL (supported by StrongLoop)
Connector-specific configuration:
? host: 166.78.158.45
? port: 3306
? user: test
? password: ************
? database: test
Done running loopback

[2016-03-02 00:30] #151 closed

[2016-03-17 23:58] ritch opened #161 "Tests failing in master"
I see several different errors:

[code]

...I can no longer reproduce the error, but at some point I was getting a `host` property not defined in `loopback:export-api-def generator `.

@raymondfeng @0candy @bajtos

[2016-03-18 17:44] 0candy commented on #161
I have seen this before when the unit test was trying to do `npm install` during dummy project creation but the dependency modules failed to install.

[2016-03-22 13:56] Mikk36 commented on #131
Still running into this one with 5.8.0 on Windows 10.

`E:\WebStorm\LkrWeb>slc -v`
`strongloop v6.0.0 (node v5.8.0)`
`├── strong-arc@1.8.8 (fb756f2)`
`├── strong-build@2.1.0 (47dd24a)`
`├── strong-deploy@3.1.2 (be6180a)`
`├── strong-mesh-models@8.1.0 (62e539b)`
`├── strong-pm@5.2.0 (4197516)`
`├── strong-registry@1.1.5 (f46e58f)`
`├── strong-start@1.3.2 (1327018)`
`├─┬ strong-supervisor@3.3.1 (1e3

[2016-03-22 14:16] Amir-61 commented on #131
Duplicate of this [issue](https://github.com/strongloop/generator-loopback/issues/69)

Closing this ticket in favour of this [issue](https://github.com/strongloop/generator-loopback/issues/69)

[2016-03-22 14:16] #131 closed

[2016-03-22 15:12] jannyHou commented on #69
A workaround: from my experience, git bash(maybe win cmd too) is not working with arrows but node cmd works.

[2016-03-25 19:22] imeninnik commented on #69
Well, win 10: my experience shows that arrow does not works if we need to select on the very first prompt (like choose not first model in relations). But on next questions arrows works fine.
So you can create a model with any selections as at first you type the name, and you can create relations for first model in a list, as you select it and then arrow works... Both `slc` and `yo`

[2016-03-28 16:41] Lughino opened #166 "The models are not searched in the mapped folders"
I'm doing a very large project, with about a hundred models.
To do some order I splitted models in subfolders, inserting in `server/model-config.json` paths, such as:

[code]

The problem is that the commands like `slc loopback: acl` don't look in the mapped folders in `server/model-config.json`, in fact if I enter `language.json` model in the `common/models` folder is found, while I insert it in

[2016-03-28 18:00] richardpringle opened #167 "slc loopback:datasource is not configured to handle LoopBack-component-storage"
When using `slc loopback:datasource` [these docs](http://docs.strongloop.com/display/public/LB/Storage+connector) say:

This creates the following in `datasources.json`:

[code]

However, when testing the api, one gets:

[code]

Which is fixed, based on all of the example on this repository, but changing it `datasources.json` to:

[code]

[2016-03-31 14:25] sam-github commented on #125
Having a generator is a nice convenience for the user, but I suggest that a generator not be used to cover up lack of configurability, it should be possible to drop in a json file with attributes set correctly, or modify an existing json file, and make the app do HTTPS, see https://github.com/strongloop/loopback/issues/2182

[2016-04-02 16:37] jeysak commented on #69
works with ConEmu http://www.fosshub.com/ConEmu.html

[2016-04-14 13:40] gunjpan opened #176 "Enhance slc loopback:model generator to display Warning when no datasource available"
Current behavior of `slc loopback:model` generator:
After creating an empty LoopBack project, while creating a new model using `slc loopback:model` or `apic create --type model`, the generator doesn't display following prompt
[code]
until a datasource is defined. Also, it doesn't warn users about it.

This should be enhanced to show a warning message for `ease-of-use`.

[2016-04-14 16:50] richardpringle commented on #176
Please add a documentation issue to go along with this and assign it to Rand

[2016-04-24 23:20] gvillenave commented on #69
Any update on this?

[2016-04-29 15:33] 0candy commented on #176
For doc:
Add a note stating that if you select an empty app it does not come with any ds, not even the in memory one.
So if you go on to run the application, you would not see any of your models as there was no datasource attached.

[2016-05-01 22:11] jodycwho opened #178 "slc loopback:remote-method cannot finish with empty argument name."
The command said name is required and doesn't accept empty string.

[code]

[2016-05-01 22:17] jodycwho commented on #178
Just checked the code. It seems the problem has been fixed.

Verified, latest version fixed the problem. Thanks

[2016-05-01 22:17] #178 closed

[2016-05-02 15:01] cgole commented on #153
verified

[2016-05-02 15:01] #153 closed

[2016-05-06 13:57] 0candy opened #179 "Update generator-loopback to use latest yeoman generator"
Latest yeoman generator uses promises instead of callback.

https://github.com/yeoman/generator/releases/tag/v0.23.0

[2016-05-06 14:35] bajtos commented on #179
To put this into context, it's a good practice to keep our dependencies reasonably up to date. That should prevent a situation when an important bug fix is landed in a recent dependency version, while we are using an old dependency version that does not receive the fix. If updating is non-trivial, then it's better to do it at time when we can plan the time needed to do the work, as opposed to upda

[2016-05-12 17:02] gunjpan commented on #126
closing this as `slc loopback` has dropped the example generator for `strongloop v6.0.0`

[2016-05-12 17:02] #126 closed

[2016-05-16 08:40] bajtos opened #182 "Add embedded relations to loopback:relation"
ATM, `yo loopback:relation` offers only these types of relations:

[code]

We should add embedded relations (EmbedsOne, EmbedsMany) to the list.

[2016-05-16 08:43] bajtos opened #183 "Use singular as the default name of hasOne relation"
When creating a relation of type "hasOne", the generator offers a plural model name as the property name. This is not correct, since the source model has only one instance of the target model at the other end of the relation.

We should check how other relations are handled too, e.g. "belongsTo" and "embedsOne" (see #182).

[2016-05-18 15:33] 0candy opened #185 "Property default value type is incorrect"
slc loopback
then slc loopback:model
The default value prompt for properties

https://gist.github.com/cfjedimaster/74d0934d4f9f687314c531ab3387fadc
The property is of type "number", but the default value in JSON is of type "string"

Need to fix generator-loopback to convert the default value from string (produced by CLI/yeoman/inquirer prompt) to the correct type. This applies to booleans too, pos

[2016-05-21 16:20] eXigentCoder commented on #69
Confirmed working on ConEmu, also couldn't get it to work even in git bash or legacy console

[2016-05-24 14:09] jannyHou commented on #69
For windows users, I am afraid a workaround is still this one: https://github.com/strongloop/generator-loopback/issues/69#issuecomment-199859202
@gvillenave

[2016-05-24 19:02] jamesobd commented on #118
Why can we not have the relation name and the property name be the same?  It seems to make sense to have an embedded relation like /customer/1234/**products** be tied to a **products** property on customer.
Is there a way to do this that I am missing?

[2016-05-24 19:47] jannyHou commented on #118
@jamesobd for example if you create a `hasMany` relation from `Owner` to `Book` called `books`, you can call `owner.books.create( )` to create book instances for a owner instance, if you define a property with the same name, then `owner` instance will be confused.

[2016-05-27 23:37] YagoLopez commented on #69
f*cking windows. I'm stuck with this stupid issue. Incredibly weird arrow keys work sometimes and sometimes not. Any news or fix for this? I havent installed git bash

[2016-05-28 21:53] YagoLopez commented on #69
Here is a temporary solution for Win10. Use this console: http://cmder.net/

[2016-05-31 14:35] bajtos commented on #139
This should also allow us to write automated tests that would prevent a situation that happened recently, when we modified prompt validation to return a promise because of a breaking change in yeoman, and then when yeoman published a new release fixing that breaking change, nobody noticed that generator-loopback no longer works, because CI was happily passing.

[2016-06-03 13:00] juanrhino opened #193 "Name cannot contain special characters"
I'm testing the loopback generator using the command **slc loopback:model** and following the example in http://loopback.io/examples/ and in the step **Property Name**: when I introduce almost anything the generator throws me the error: **Name cannot contain special characters [object Object]firstname**. The strange thing is that I'm not introducing anything special, but when I introduce some char

[2016-06-08 14:52] gunjpan commented on #193
Cross posting from loopback#2410:

strongloop v6.0.1 (node v0.12.7)
├── strong-arc@1.8.8 (fb756f2)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.2
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (28c261d)
├─┬ strong-supervisor@3.3.3
│ └── strong-agent@2.0.4 (de9885e)
├── generator-loopback@1.21.0 (3c246d7)
├──

[2016-06-08 14:53] gunjpan commented on #193
@juanrhino : try updating your `generator-loopback` and see if its resolved. FYI, latest version for `generator-loopback` is `1.21.1`

[2016-06-08 15:10] jannyHou commented on #193
The error is fixed and published in generator-loopback@1.2.1
strongloop/generator-loopback@f257078

Please reinstall your generator-loopback to get it work.

[2016-06-08 16:07] juanrhino commented on #193
Ok, I have reinstalled Node, NPM and Strongloop, removed my node_modules folder (because it sent me a 'options' module not found) and now everything is working. Thanks for the help!!!

[2016-06-08 16:08] #193 closed

[2016-06-09 16:11] bajtos commented on #161
I believe this has been already fixed.

[2016-06-09 16:11] #161 closed

[2016-06-09 19:59] richardpringle commented on #135
Hey @MartinLogan, thanks for reporting this issue...but this is actually in the wrong-repo! In other-words, `slc loobpack:swagger` calls another module.

@jannyHou, this belongs in `loopback-swagger` right?

[2016-06-09 20:27] jannyHou commented on #135
@richardpringle True. generator-loopback only take in the parameters to generate a swagger file, but the function called to create it is defined in `loopback-swagger` i believe.

@MartinLogan Could you open the issue in https://github.com/strongloop/loopback-swagger ?

Sorry I don't quite understand where is the undefined params..for a better debug could you fork https://github.com/strongloop/loop

[2016-06-10 05:31] a136464153 opened #201 "loopback:datasource not work for remote datasource"
![image](https://cloud.githubusercontent.com/assets/6264919/15954947/65aa45b6-2f0f-11e6-81fa-281536fe495c.png)
When generate remote datasource by slc loopback:datasource, I select other and type remote, it shows error.I reinstalled strongloop and it does not work.

[2016-06-10 14:44] bajtos commented on #185
@alexpit to clarify the scope:

 1) When the user creates a model property and provides a default value, then the swagger produced by `apic loopback:refresh` should be valid.

2) The user experience should not be made worser that it is now, this includes users calling the generator via `yo` and `slc` where we don't generate/validate swagger spec.

[2016-06-10 14:57] bajtos commented on #185
Elaborating a bit more on the UX part.

The current proposal in #200 throws an error when the default value cannot be parsed into property type. Now imagine the case when the user is creating a new model with 10 properties, and the 10th property aborts the generator. That's not acceptable to me.

The coercion of the default value should be implemented in such way, that as little of user input is d

[2016-06-10 21:34] richardpringle commented on #135
@jannyHou
[code]
and
[code]
The parameter is missing!

[2016-06-11 18:41] MartinLogan commented on #135
np - will do thanks

Martin

[2016-06-11 18:41] #135 closed

[2016-06-21 01:11] superkhau opened #204 "Fix NPM scripts newly scaffolded projects"
1. Use `lint: eslint .` and `posttest: npm run lint` instead of the current `pretest` for newly scaffolded projects by default
2. Add `eslint-config-loopback` as a `devDependency` in `package.json` for newly scaffolded projects

[2016-06-21 08:11] bajtos commented on #176
Published in `generator-loopback@1.22.0`.

[2016-06-21 08:11] #176 closed

[2016-06-24 15:54] ssh24 commented on #179
`Verified`

**Verification steps:**
1. Set registry to master: `http://apim-ci1.rtp.raleigh.ibm.com:4873/`
2. Install the latest generator-loopback: `npm install -g generator-loopback`
3. Install the latest yeoman generator: `npm install -g yo`
4. create a lb app using yeoman generator: `yo loopback`

<img width="1272" alt="june16 -bash 181x48 terminal today at 11 47 54 am" src="https://cloud.gith

[2016-07-02 15:49] aospan opened #209 "Default API name 'swagger_' + basePath. Is it safe to change ?"
Hello,

now I'm importing swagger API json file with 'slc loopback:swagger' command and default API model name is 'swagger_' + basePath. I'v found it's hardcoded here generator-loopback/swagger/index.js:

var swaggerModel = 'swagger_' + basePath.replace(/\//g, '_');

Is it safe to change to something else ? For example, for info->title or some user-specified cmd option ?

[2016-07-06 18:27] 0candy commented on #201
Duplicate of https://github.com/strongloop/loopback/issues/2265

This has been fixed in `generator-loopback@1.22.0`.

[2016-07-06 18:27] #201 closed

[2016-07-12 21:19] jannyHou commented on #209
@aospan Thank you for the suggestion, could you explain why the `swaggerModel`'s value is important for you?
From my understanding, it only shows in some log info, like https://github.com/strongloop/generator-loopback/blob/master/swagger/index.js#L253

Does it affect your generated result?
And I think it makes sense to keep the basePath without any custom/user-specified string.
Thought?

[2016-07-13 00:41] aospan commented on #209
I mean change 'swagger_' to something more informative. basePath is ok.

[2016-07-13 07:29] romanso123 opened #210 "Failing test on windows."
When I "npm test", one of the tests fails on Windows, however on MAC all the tests pass.
Here's a screen shot of the failing test:
![test_error](https://cloud.githubusercontent.com/assets/17109010/16795173/96f4d39a-48e4-11e6-9013-185593b05df7.PNG)

[2016-07-13 11:19] bajtos commented on #210
@jannyHou @0candy @richardpringle PTAL. I can see the same problem in @alexpit's https://github.com/strongloop/generator-loopback/pull/200, see http://ci.strongloop.com/job/generator-loopback/1505/

[2016-07-13 14:44] jannyHou commented on #209
@aospan I believe it's safe if you hack your code to make it more informative. Hmm....on our end I think it's fine to keep it as `swagger_` since it doesn't affect the generated swagger file :)

[2016-07-13 15:12] aospan commented on #209
ok, thanks :+1:

[2016-07-13 15:12] #209 closed

[2016-07-14 13:53] alexpit commented on #185
Fixed in PR #200

[2016-07-14 13:53] #185 closed

[2016-07-14 18:21] richardpringle commented on #210
Looking into it

[2016-07-14 18:24] richardpringle commented on #210
@romanso123
What version of Node and NPM?

[2016-07-14 18:28] richardpringle commented on #210
@0candy @jannyHou:

Confirmed, this is a bug. I can reproduce.

[2016-07-14 20:47] jannyHou commented on #210
The problem is strong-cached-install only install one dependency module everytime:
https://github.com/strongloop/generator-loopback/blob/master/test/export-api-def.test.js#L44

[2016-07-15 12:52] richardpringle commented on #210
@jannyHou, is this only a problem on windows?

@bajtos, I'm throwing a major label on this issue, `npm test` should definitely pass out of the box on every platform.

[2016-07-15 13:19] bajtos commented on #210
https://github.com/strongloop/generator-loopback/blob/master/test/export-api-def.test.js#L44

@jannyHou I don't fully understand, let's discuss on Slack.

:+1:

[2016-07-15 15:11] bajtos commented on #210
I was able to reproduce this problem in loopback-workspace too, where `npm install` invoked by `strong-cached-install` failed with the following error:

[code]

A quick search discovered a related discussion in npm, see https://github.com/npm/npm/issues/7468, which makes me think we have a problem in strong-cached-install - we are too restrictive about which ENV variables are passed to `npm`.

Let

[2016-07-16 02:07] coderluy opened #213 "Can't set the default value of property to blank/none any more"
apiconnect-cli-loopback test catches the issue. Looks like a regression introduced by https://github.com/strongloop/generator-loopback/pull/200

[code]

[2016-07-16 02:30] coderluy commented on #213
[code]

[2016-07-17 07:04] romanso123 commented on #210
@richardpringle
![npm_node_v](https://cloud.githubusercontent.com/assets/17109010/16899249/c0cf8f1a-4c05-11e6-87a1-897e702f6a57.PNG)

[2016-07-18 21:26] jannyHou commented on #210
@bajtos Now all test pass on master branch: http://ci.strongloop.com/job/generator-loopback/1530/

But I am still able to reproduce it on my windows(a crazy unstable system).
I think the error here is different from https://github.com/strongloop/strong-cached-install/issues/9 .
Let me describe it more detailed: when executing the installation, dependencies should be installed under `test/sandbox/n

[2016-07-19 12:14] bajtos commented on #210
See https://github.com/strongloop/strong-cached-install/pull/10, it may fix the problem.

[2016-07-19 15:40] richardpringle commented on #210
@jannyHou, feel free to get me to test on windows if it's easier...

[2016-07-19 18:54] jannyHou commented on #210
@richardpringle hah Thanks. I have two laptops open now :)

[2016-07-26 21:15] jannyHou commented on #210
Confirmed it's fixed again: http://ci.strongloop.com/job/generator-loopback/1559/

Closed.

[2016-07-26 21:15] #210 closed

[2016-07-26 21:19] jannyHou opened #215 "Improve test cases to catch broken generator in time"
Some error could not be caught in time, like
https://github.com/strongloop/loopback/issues/2505(Fixed by https://github.com/strongloop/generator-loopback/pull/212)
CI was green but actually the generator was broken.

This means our test cases doesn't wholly mock the real scenario of the prompts.

[2016-07-30 11:16] C3realGuy commented on #213
I encountered a very similar problem with the latest version (1.23.2):
`Enter an empty property name when done.
? Property name: date
   invoke   loopback:property
? Property type: string
? Required? Yes
? Default value[leave blank for none]:
Warning: please enter the date property again. The default value provided "" is not valid for type: string
? Property type: date
? Required? Yes
? Default va

[2016-07-31 13:10] tommedema commented on #213
Same here. I guess this is not as intended, i.e. empty strings or NULL values should be possible as default values.

[2016-08-02 08:20] bajtos commented on #213
I have sent a pull request to fix this and restore the older behaviour before #200 was landed, see https://github.com/strongloop/generator-loopback/pull/216

[2016-08-08 08:10] bajtos commented on #213
Fixed by #216. @coderluy could you please verify?

[2016-08-17 13:07] #213 closed

[2016-08-19 17:35] jannyHou opened #220 "Improve doc about "update generator-loopback" and "How to debug prompts""
Since many users (from both internal and community) are confused with how to update generator-lb to get the latest feature. I think it's worth to add proper steps to update it in doc.

(Still In Progress)

"How to debug prompts", maybe we can add this part in md file.

[2016-08-25 15:07] 0candy opened #222 "generator for remote-method not adding method to json file"
Missing additional prompts to generate remote-method

[code]

Exits after selecting verb and method is not added to JSON file.

[2016-08-29 18:04] jamesobd commented on #69
Any permanent solution in the works?

[2016-08-31 12:59] helenmasters commented on #222
I've seen the same error with apic loopback:remote-method using API Connect v5.0.3.0

The same error is also seen having run `npm install -g yo generator-loopback` and then `yo loopback:remote-method`

[2016-08-31 13:12] bajtos commented on #222
I see two issues here:

1) Why does the generator silently abort? If there is some sort of an unhandled error, then the user should be notified about the problem.

2) `loopback:remote-method` does not work, as described above.

[2016-09-01 14:23] 0candy commented on #222
PR merged, closing issue.

[2016-09-01 14:23] #222 closed

[2016-09-05 10:51] bajtos commented on #222
Released in `generator-loopback@1.24.1`.

@0candy could you PTAL look at this part of the problem too?

[2016-09-06 15:39] 0candy commented on #222
@bajtos It silently aborted because one of the generator callback didn't get converted to promises. This is fixed by the PR.

[2016-09-07 11:17] bajtos commented on #222
@0candy is there any way how to avoid silent abortion in cases like this one and report an error notifying the user that something went wrong? The thing is, because the generator does not report any error message, users tend to think the method was created for them, and then they don't know how to troubleshoot the problem of a missing remote method.

[2016-09-09 20:57] samt opened #224 "Using the generator to create a non-required date sets an invalid default value of `null`"
Example:

[code]

Results in the following (excerpt) in the yaml:
[code]
As null is an invalid value for a `date` type, it will fail validation is the field is omitted.

[2016-09-10 12:46] tomvanoppens commented on #224
in addition , any properties shouldn't be there when It's empty

[2016-09-12 17:12] ritch commented on #224
This looks like a bug in the swagger generation. We shouldn't be generating a default value for swagger of `null` in this case.

Actually I don't think we should ever generate the `default` field in swagger since it is the default input for the swagger client and not the value of the property. We would need to add a `swaggerDefault` or similar setting in the remoting meta.

[2016-09-12 18:02] davidcheung commented on #224
for me when i leave it empty, it does not populate the `key` for `default` in my **model.json**,
[code]
but when i put in something invalid such as an **empty space**, or something invalid, it converts it to null
[code]

Looks like this line is whats returning 'Invalid Date', then falling back to `default:null`
in the code we are trying to convert user provided value to a date, string is not null

[2016-09-12 18:28] jannyHou commented on #224
To fix the part in generator-loopback I agree with @davidcheung . A `Date` type property should either have no default value or have a "Date type" default value, instead of null.

[2016-09-13 07:03] bajtos commented on #224
[code]

I think that's how we get `null` as the default value.

IMO, we should fix generator-loopback to detect invalid date values and ask the user to provide a valid value in such case.

See `castDate()` in [property/index.js](https://github.com/strongloop/generator-loopback/blob/77919856c5c409c2cc62b7c059604261a3ae5db5/property/index.js#L245-L254):

[code]

[2016-09-15 14:21] #224 closed

[2016-09-16 07:09] tomvanoppens commented on #224
but if the value is not required it just shouldn't have a default value

[2016-09-16 15:04] jannyHou commented on #224
@tomvanoppens I think `required` and `default value` are separate things.

Let's take BBS as an example, after you register an account, you don't have to add an introduction of yourself(which is **not required**), but you will probably have a **default** introduction generated by BBS, something like "hello everyone".

[2016-09-16 15:40] davidcheung commented on #224
@tomvanoppens does ur `model.json` populate with `{ default: null }` even when u skip that step?
i only way i reproduced that is when i put in an **empty space**, or other invalid date then it casts it to null

and about the swagger gen part, i believe if the property exist in `model.json`, then it should show up in `swagger yaml`, the issue was we allowed the scenario where we had **invalid date

[2016-09-16 21:38] 0candy opened #227 "Generator usage files are not translated."
Need to move usage files to `intl/en` folder, update code to read help file from that folder and get the translation strings for them.
Name the help file to `.txt`
Put `{{}}` around terms or commands that don't need to be globalized.

[2016-09-21 02:24] superkhau opened #228 "`slc loopback:datasource` doesn't list `loopback-connector-kv-redis`"
_From @superkhau on September 20, 2016 2:22_
# Steps to reproduce
1. Create an app
2. Run `slc loopback:datasource`

During step 2, you will be prompted with `Select the connector for db:`. In this list, there is no `kv-redis` option. Another thing to note is we also have the regular `redis` connector that isn't listed either, so we should be careful when coming up with a name.
# Workaround

Selec

[2016-09-21 02:24] superkhau commented on #228
_From @bajtos on September 20, 2016 15:4_

I think this is a duplicate of https://github.com/strongloop-internal/scrum-loopback/issues/1073, we can add both `kv-memory` and `kv-redis` at the same time.

can you open an issue in generator-loopback for this please?

[2016-09-21 02:24] superkhau commented on #228
I'm going to move this issue to generator-loopback instead so I don't have to type it all out again.

[2016-09-22 16:37] C3realGuy commented on #213
It's old but yeah this one's fixed (at least for me).

[2016-09-22 21:14] jannyHou commented on #227
I am afraid the only way to get translation work is **hard-coding all help texts in .txt files and remove usage file in each generator folder.**

Reason:

- Now we rely on `yeoman.base.prototype.help()` to generate the helpString, it's not only returning contents in `Usage` file but also returning other info like usage, options, arguments, etc..., which are generated dynamically. While strong-glob

[2016-09-23 08:25] bajtos commented on #227
If this is the approach that apiconnect-loopback-cli is using, then I am ok with that for now.

In the future, if we ever get to refactor our generator to depend less on yeoman, I would prefer to introduce back an auto-generated help file reflecting code changes.

[2016-09-23 16:00] jannyHou commented on #227
Realized that It's a wrong assumption. I will override the help() function to generate help String.

[2016-10-06 03:58] superkhau opened #231 "`slc loopback:datasource` with `other` gives wrong instructions"
When scaffolding new apps, `slc` asks:

[code]

It only work properly when you add the prefix not without (ie. you have to enter in `loopback-connector-redis` instead of just `redis`, same for the kv connectors).

I propose we change the message or fix the bug (either TOB or at least change the message for the time being if we don't find time to work on it soon).

@bajtos @0candy @jannyHou

[2016-10-06 08:36] bajtos commented on #231
+1, moved to `#tob` with `P1`

[2016-10-06 14:48] jannyHou commented on #231
I suggest rewording the msg to ask for **FULL** name.

Some components also need full name, e.g.: loopback-component-storage

[2016-10-07 05:49] superkhau commented on #231
or module name/package.json/npmjs name instead of "full" which might be ambiguous.

[2016-10-13 19:34] deepakrkris opened #233 "create alternative to current approach of modifying files"
Remove the current approach, where every workspace REST API call/operation triggers update of all the workspace files.
- replace with a means to track the files to be changed for every operation.
- replace with a means to track the changes to be done for the operation.
- replace with a processor which handles the file update tasks.

[2016-10-13 19:37] deepakrkris opened #234 "allow user to work on multiple workspaces"
The workspace process must be able to work on multiple workspace folders.
- workspace process must have a Rest API endpoint for loading of a workspace folder, like
  POST /workspace, which must return a random {workspace id}
- operations on the workspace folder must be identified using the {workspace id} POST../workspace/{workspace id}/model
  POST../workspace/{workspace id}/datasource,
  etc

[2016-10-13 21:49] deepakrkris opened #235 "allow multiple workspace processes to work on the same workspace"
Different workspace processes should be able to access the same workspace folder at the same time.
- Workspace process must have a in-memory cache with the contents of the workspace entities (a data graph type cache is proposed). This cache is refreshed in the beginning of the process and after every workspace operation like POST, PUT, GET, etc
- Workspace process must keep track of the timestamps

[2016-10-13 23:47] superkhau opened #236 "Do not ask for properties already provided in `url` property when using `slc loopback:datasource`"
When the user enters a `url` property when using `slc loopback:datasource`, it shouldn't ask for `host`, `port`, etc because I already entered it when it asked for `url` property. What we ask should be configurable in lb-workspace/available-connectors.json (ie. if i gave part of a url like user/pass is missing, ask me for user/pass).

[2016-10-13 23:55] deepakrkris opened #237 "Change current workspace Rest API endpoints"
Current implementation has API endpoints in a very detailed granularity like ModelProperty, ModelMethod, Facets, PackageDefinition, etc
- Change the API endpoints to more macro definitions like Workspace, Models, Datasources, Middleware, Mixins, etc

[2016-10-14 00:01] deepakrkris opened #238 "Use in-memory graph to map between workspace operations and actual files"
Introduce a layer in-between the workspace Rest-API and the file system, to represent all workspace entities as a single data graph.
    - use this data graph to map fields in between entities
    - the data graph must allow fields to reference values of another field.
    - the data graph must propagate the changes done to a field value to its references
    - workspace operations to insert, upda

[2016-10-14 21:39] deepakrkris commented on #238
https://github.com/strongloop-internal/scrum-loopback/issues/1132

[2016-10-18 14:25] jannyHou commented on #227
**Verify**

1. Install an old version of `generator-loopback@1.24.4`
2. Run `slc loopback:cmd_name --help` to print old help text. Copy them somewhere for comparison.

  A list of `cmd_name` to be tested:
  - [ ] app
  - [ ] acl
  - [ ] boot-script
  - [ ] datasource
  - [ ] export-api-def
  - [ ] middleware
  - [ ] model
  - [ ] property
  - [ ] relation
  - [ ] remote-method
  - [ ] swagger

3.

[2016-10-25 15:19] ssh24 commented on #227
All the commands above have a missing space, other than that everything looks fine
Example with `swagger`
[code]

[2016-10-25 18:00] jannyHou commented on #227
@ssh24 Nice catch! I will take a look. Thanks!

[2016-11-09 18:42] jannyHou commented on #227
@ssh24 missing space is fixed in https://github.com/strongloop/generator-loopback/pull/241
Please verify again. Thanks.

[2016-11-09 22:05] ssh24 commented on #227
**Verified:**

  A list of `cmd_name` to be tested:
  - [x] app
  - [x] acl
  - [x] boot-script
  - [x] datasource
  - [x] export-api-def
  - [x] middleware
  - [x] model
  - [x] property
  - [x] relation
  - [x] remote-method
  - [x] swagger

[2016-11-11 15:19] jannyHou commented on #231
Closing since https://github.com/strongloop/generator-loopback/pull/242 checked in.

[2016-11-11 15:19] #231 closed

[2016-11-11 18:25] chadsfatherlali opened #244 "GET Error"
Hi, I try to deploy simple api example from strongloop and I get this error:

[root@localhost simple-api]# sudo npm install -g generator-loopback@latest
/usr/lib
└── generator-loopback@1.24.5

[root@localhost simple-api]# node .
Web server listening at: http://0.0.0.0:3000
Browse your REST API at http://0.0.0.0:3000/explorer
Error no gestionado para la solicitud GET /simple-api: Error: Cannot GET

[2016-11-11 19:14] chadsfatherlali commented on #244
A mistake on nginx configuration 😂, sorry.

[2016-11-11 19:14] #244 closed

[2016-11-16 17:05] #237 closed

[2016-11-16 17:06] #238 closed

[2016-11-16 18:19] #235 closed

[2016-11-16 18:20] #234 closed

[2016-11-16 18:20] #233 closed

[2016-11-23 18:30] superkhau commented on #228
Fixed by https://github.com/strongloop/loopback-workspace/pull/332

[2016-11-23 18:30] #228 closed

[2016-11-30 06:08] superkhau commented on #33
@bdunnette This issue is 2 years old, please feel free to submit a modifcation to the README if you have time to contribute. Closing.

[2016-11-30 06:08] #33 closed

[2016-12-08 22:25] siddhipai opened #253 "CI failing on x64 and linux"
see [#248](https://github.com/strongloop/generator-loopback/pull/248)

[2016-12-09 00:30] eddiemonge commented on #253
Passing now.

[2016-12-09 01:33] superkhau commented on #253
Verifieid, closing.

[2016-12-09 01:33] #253 closed

[2017-01-27 19:19] crandmck commented on #129
http://loopback.io/doc/en/lb3/Remote-method-generator.html

[2017-01-27 19:19] #129 closed

[2017-02-16 06:20] hacksparrow commented on #139
@bajtos why can't we do without Yeoman?

[2017-02-16 08:25] bajtos commented on #139
At the I opened this issue, we were relying on Yeoman's `yo` command to run our generators (commands). It also seemed like a good idea to play well with Yeoman ecosystem.

Things has changed since then a lot. Among other things, we have https://github.com/strongloop/loopback-cli as the top-level CLI that LoopBack users should use instead of `yo`.

IMO, now we can drop Yeoman completely and rewrite

[2017-03-07 13:55] bajtos opened #271 "Upgrade yeoman-generator to latest"
We should upgrade our yeoman-generator from current `0.23.4` to the latest version (`1.1.1` right now).

See http://yeoman.io/blog/hello-generator-1.0.html for the migration guide.

cc @ritch

[2017-04-07 17:42] qpresley opened #276 "export-api-def fails with path not a string error"
# Description/Steps to reproduce
Steps to reproduce are very simple.  Create a loopback app using the `lb` CLI, chose the empty server app.  When it completes run `lb export-api-def -o ./testApp.yaml` and you will get the error.  Here is the output of my local run

[code]

[2017-04-07 18:00] jannyHou commented on #276
Moved to https://github.com/strongloop/loopback-cli/issues/27

[2017-04-07 18:00] #276 closed

[2017-04-21 16:08] hacksparrow opened #279 "`yo loopback:model --bluemix` crashes when no Bluemix datasources are found"
# Description/Steps to reproduce

`yo loopback:model --bluemix` crashes when no Bluemix datasources are found

1. Don't add any Bluemix datsource
2. Run `yo loopback:model --bluemix`

# Expected result

Should inform "Found no data sources to attach.."

[2017-04-23 04:11] Setogit opened #281 "Globalization bug: var usageText = g.f(usageFilePath)"
https://github.com/strongloop/generator-loopback/blob/master/lib/help.js#L48
[code]
In runtime, `g.f` will pass through the string usageFilePath.  The translation is not done in runtime.
If the string needs to be translated, the client of the customHelp has to pass the translated usageFilePath.

# Expected result

# Additional information

[2017-04-26 18:39] hacksparrow commented on #279
#282 fixed this.

[2017-04-26 18:39] #279 closed

[2017-05-05 18:42] hacksparrow opened #285 "Tries to install undefined connector when datasource generator is executed in a non-Bluemix app dir"
# Description/Steps to reproduce

`cd` to a non-Bluemix app dir:

[code]

# Expected result

Exit generator if not in a Bluemix app dir.

[2017-05-17 21:00] rashmihunt opened #289 "CI failure from bluemix related tests"
@hacksparrow Current CI fails due to bluemix related tests on master. @raymondfeng tried fixing it through this PR https://github.com/strongloop/generator-loopback/pull/288. But, it still fails with different errors now.  See the CI for this PR - 8 builds are failing. Can you please take a look to fix it?

[2017-05-24 04:25] hacksparrow commented on #289
@rashmihunt it's fixed now.

[2017-05-24 04:25] #289 closed

[2017-06-02 03:20] #285 closed

[2017-06-27 20:15] ajsnyman opened #296 "lb relation command stuck at first model selection"
# Description/Steps to reproduce

**$ lb relation**
? Select the model to create the relationship from:

Selection is stuck at first model, even though other models are displayed and visible.
I'm unable to select any of the other models below with the down arrow.

I'm running lb on Windows 10 in command prompt.

# Expected result

Should be able to select other model.

[2017-06-27 23:37] raymondfeng commented on #296
There is a bug in Node 8.1.0. Upgrading to 8.1.1 or 8.1.2 should fix the issue.

[2017-06-27 23:39] raymondfeng commented on #296
Duplicate of https://github.com/strongloop/loopback-cli/issues/36

[2017-06-27 23:39] #296 closed

[2017-07-14 08:40] hacksparrow opened #302 "--login and --sso should fill default organization and space"
## Description/Steps to reproduce

Authenticate to Bluemix using `lb --login` or `lb --sso`, `~/.bluemix/.loopback/config.json` will be created with the following content.

[code]
## Expected result

[code]

Organization and space details are required for provisioning data services. Until these details are available, provisioning will fail for users authenticated using `--login` and `--sso`.

@ray

[2017-07-15 16:08] #302 closed

[2017-07-17 09:10] hacksparrow opened #305 "Add authentication to bluemix --provision"
# Description/Steps to reproduce

If the user is not authenticated, `lb bluemix --provision` doesn't prompt the users to log in.

# Expected result

Prompt authenticated user to log in.

# Additional information

[2017-08-01 15:53] hacksparrow commented on #305
https://github.com/strongloop/loopback-bluemix/pull/21 takes care of this

[2017-08-01 15:53] #305 closed

[2017-08-11 20:06] dhmlau opened #314 "Use local WSDL for automated tests"
Some of the automated tests rely on the availability of this URL:
http://www.webservicex.net/periodictable.asmx?WSDL

However, when webservicex.net becomes unavailable, CI would fail and affect other repos depending on it.

@rashmihunt suggested to have the wsdl locally for the tests.

[2017-09-06 14:59] #36 closed

[2017-09-06 14:59] #236 closed

[2017-09-06 14:59] #75 closed

[2017-09-06 14:59] #52 closed

[2017-09-06 14:59] #50 closed

[2017-09-06 14:59] #97 closed

[2017-09-06 14:59] #183 closed

[2017-09-06 14:59] #167 closed

[2017-09-06 14:59] #85 closed

[2017-09-06 14:59] #60 closed

[2017-09-06 14:59] #227 closed

[2017-09-06 15:00] #215 closed

[2017-09-06 15:00] #182 closed

[2017-09-06 15:00] #204 closed

[2017-09-06 15:00] #166 closed

[2017-09-06 15:00] #77 closed

[2017-09-06 15:00] #54 closed

[2017-09-06 15:00] #271 closed

[2017-09-06 15:00] #51 closed

[2017-09-06 15:00] #145 closed

[2017-09-06 15:00] #220 closed

[2017-09-06 15:00] #69 closed

[2017-09-06 15:00] #61 closed

[2017-09-06 15:00] #281 closed

[2017-10-24 21:12] #314 closed

[2017-12-20 10:19] Lambdac0re opened #325 "Nsp Security Check Fails"
# Description/Steps to reproduce
Generate a hello-world app

# Expected result
I expect npm test to succeed.
Instead it fails because helmet ^1.3.0 is installed which has a vulnerable dependency.

# Additional information

<pre>
(+) 1 vulnerabilities found
┌───────────────┬───────────────────────────────────────────────────────┐
│               │ Regular Expression Denial of Service

[2018-01-25 03:10] candytangnb opened #328 "GVT：Hardcode issue in "apic lb""
[https://github.ibm.com/velox/toolkit/issues/755](url)

connected to: https://github.com/strongloop-internal/scrum-apex/issues/350

[2018-01-25 03:11] candytangnb commented on #328
#https://github.ibm.com/velox/toolkit/issues/758

[2018-01-25 07:10] FrankDongNB commented on #328
Hardcode issue in "apic lb"
![image](https://user-images.githubusercontent.com/35794923/35375379-c5ffeb9a-01e1-11e8-9bfd-0723b27b17b0.png)
![image](https://user-images.githubusercontent.com/35794923/35375395-d6e019ee-01e1-11e8-9e2b-5891762006ed.png)

[2018-01-25 07:23] FrankDongNB opened #329 "GVT: Hardcode issue in command "node .""
Hardcode issue in command "node ."

![image](https://user-images.githubusercontent.com/35794923/35375884-9e3223b0-01e3-11e8-9fd9-53bbe095291c.png)

[2018-01-25 07:31] FrankDongNB opened #330 "GVT：Hardcode issue in "apic lb acl""
https://github.ibm.com/velox/toolkit/issues/758
Hardcode issue in "apic lb acl"

![image](https://user-images.githubusercontent.com/35794923/35376119-9dde94d8-01e4-11e8-8e58-8cfa5196a0ff.png)
![image](https://user-images.githubusercontent.com/35794923/35376100-8e029104-01e4-11e8-80e2-1a7a0585c487.png)
![image](https://user-images.githubusercontent.com/35794923/35376169-c85d9560-01e4-11e8-9784-e2d9

[2018-01-25 14:42] dhmlau commented on #328
cross posting my comments from the original github issue:

[2018-01-25 15:17] dhmlau commented on #330
Cross posting my comments in the original issue:

[2018-01-25 15:32] dhmlau commented on #328
@raymondfeng @bajtos , do you know where I can find the strings for the first screen cap? Thanks!

[2018-01-25 15:32] dhmlau commented on #330
@raymondfeng @bajtos , do you know where I can find the strings for the last 3 screen caps? Thanks!

[2018-01-25 15:45] dhmlau commented on #329
It's coming from the template from `loopback-workspace`.  https://github.com/strongloop/loopback-workspace/blob/3e80fcd3053199c5de549a5ded5e7773ad2fc5cc/templates/projects/empty-server/files/server/server.js

@raymondfeng @bajtos , do you know if / how we can get it translated when generating the LB app?

[2018-01-25 18:44] dhmlau opened #331 "GVT: Hardcode issue in "apic lb -h""
Original issue: https://github.ibm.com/velox/toolkit/issues/747
Hardcode issue in "apic lb -h"
please check below screen capture
![b17c2d42-fadd-11e7-954e-3aac687817a2](https://user-images.githubusercontent.com/25489897/35405972-ab81531e-01d5-11e8-9b32-3072e49fbd34.png)

Summary of the investigation with @raymondfeng:
- the highlighted messages are coming from Yeoman
- we can see if we can overrid

[2018-01-25 19:09] dhmlau commented on #325
@Lambdac0re , thanks for reporting this.  I believe this issue has been resolved.
I just ran `nsp check` against this repo, and no known vulnerabilities found.

Is this issue good to close?  Thanks.

[2018-01-26 03:21] dhmlau commented on #325
Hi @Lambdac0re , sorry that I misunderstood your original message.  We're looking into it now.

[2018-01-26 08:22] bajtos commented on #329
@dhmlau

AFAICT, you have already found the answer. https://github.com/strongloop/loopback-workspace/pull/500

Thank you for taking care of these globalization issues! ❤️

[2018-01-26 15:09] dhmlau commented on #330
Fixed in this PR: https://github.com/strongloop/loopback-workspace/pull/500
New messages needed to be translated can be found: https://github.com/strongloop/loopback-workspace/blob/master/intl/en/messages.json

[2018-01-26 18:44] dhmlau commented on #331
What I got from @raymondfeng:
- can possibly override `usage()` or `help()` in ttps://github.com/strongloop/generator-loopback/blob/master/lib/help.js.
- use `skipMessage` option to skip yeoman message during npm install

[2018-01-30 20:10] dhmlau commented on #331
Fixed in https://github.com/strongloop/generator-loopback/pull/332

[2018-02-06 16:41] #330 closed

[2018-02-06 16:41] #331 closed

[2018-02-13 15:34] dhmlau commented on #325
@Lambdac0re , it should be fixed in the latest release `5.6.0`.  Could you please try again?  Thanks!

[2018-02-22 13:09] Lambdac0re commented on #325
The `nsp check` is successful, but now `npm test` fails the `lint` part with the following message:
[code]

[2018-02-23 03:49] dhmlau commented on #325
It's a bug.  The workaround is to add the following line at the top of `common\models\message.js`:
[code]

[2018-02-23 11:56] vicanfon opened #337 "Testing generator-loopback error"
# Description/Steps to reproduce

I am trying to test the loopback generator and I am getting an error:
TypeError: Workspace.describeAvailableTemplates is not a function

My piece of code is:
return helpers.run(require.resolve('generator-loopback'))
      .withPrompts({appname: 'loopbackapp', wsTemplate: 'empty-server', loopbackVersion: '3.x'});

What I am doing bad?

# Additional information

nod

[2018-03-05 09:29] FrankDongNB opened #338 "GVT: Hardcode issue in command "node .""
Hardcode issue in command "node ."

<img width="526" alt="image" src="https://user-images.githubusercontent.com/35794923/36967447-bb14ab58-209a-11e8-912e-ddd549830419.png">

From: https://github.ibm.com/velox/toolkit/issues/757

[2018-03-26 20:07] dhmlau commented on #328
need to look into it.

[2018-03-27 14:06] dhmlau commented on #329
still need it.

[2018-03-28 13:22] dhmlau opened #339 "GVT: new options for lb -h (--loopbackVersion and --template) not translated"
When running `lb -h` command, we recently introduced two options (--loopbackVersion and --template).  They are not translated.
![e876edbe-3278-11e8-983d-b6da1b81313d](https://user-images.githubusercontent.com/25489897/38031515-514aef94-3269-11e8-9dd0-24339d6b2434.png)

Original ticket: https://github.ibm.com/velox/toolkit/issues/747

[2018-03-28 13:50] dhmlau opened #340 "GVT: Extract message for translation for lb oracle"
This [issue](https://github.ibm.com/velox/toolkit/issues/763) was originated fixed in the pull request https://github.com/strongloop/generator-loopback/pull/327.  However, it got reverted by [another commit](https://github.com/strongloop/generator-loopback/commit/9741f98827b92af190003ae4dff97834b4634360#diff-b17dbe7f62e706d25afcf51779919d9b.

[2018-03-29 16:57] dhmlau commented on #340
Fixed in https://github.com/strongloop/generator-loopback/commit/6028b23c860426a4accc02b4e329ec6acbcd4256

[2018-03-29 16:57] #340 closed

[2018-03-29 17:14] dhmlau commented on #339
Fixed as part of https://github.com/strongloop/generator-loopback/commit/6028b23c860426a4accc02b4e329ec6acbcd4256

[2018-03-29 17:14] #339 closed

[2018-04-11 16:54] dhmlau opened #343 "Use parameter for lb oracle message"
In messages.json, one message is as follows:
[code]
The output should read as
[code]

We should make the message to use parameter instead of having incomplete message.
i.e.
[code]

[2018-05-08 04:56] #325 closed

[2018-05-08 12:56] #337 closed

[2018-05-18 10:42] #338 closed

[2018-06-21 13:16] MelleB opened #352 "nsp security check fails (1 critical, 1 medium, 2 low)"
`nsp check` fails on the open@0.0.5 dependency.
Repository of the [open package](https://github.com/jjrdn/node-open) suggests to migrate to [opn](https://github.com/sindresorhus/opn)

# Description/Steps to reproduce
[code]

[2018-06-21 20:51] dhmlau commented on #352
@virkt25 @bajtos , could you PTAL?

[2018-06-22 14:29] bajtos opened #354 "Fix test suite"
Our test suite has several problems.

1. `bluemix` generator is calling `process.exit()` on failure, which aborts Mocha test suite in the middle. Because the process exits with exit code `0`, it looks like all tests passed.

    https://github.com/strongloop/generator-loopback/blob/060bdd7dd0deb17e1df0b58a36843d82d4bc953d/bluemix/index.js#L74-L75

    I am proposing to change this block and throw

[2018-06-22 14:32] bajtos opened #355 "Upgrade yeoman-generator to latest"
~~Prerequisite: a fully working test suite, see #354 (done).~~

Update `yeoman-generator` to the latest version (`^3.0.0` as of now).

Because we are migrating across multiple major versions, we may need to update our code to accommodate breaking changes. Special attention must be paid to model generator that's repeatedly invoking property generator, this scenario must be tested manually via `yo l

[2018-06-22 14:37] bajtos commented on #352
I opened a new issue to keep track of this work, see https://github.com/strongloop/generator-loopback/issues/355

`open` and `hoek` vulnerabilities have been fixed by dependency updates

[code]

[2018-06-22 14:37] #352 closed

[2018-06-22 23:34] dhmlau commented on #354
I think the description contains pretty clear acceptance criteria. Moving for estimation.

[2018-06-25 06:14] bajtos commented on #354
At my machine, there are 17 failing tests.

  1) loopback:bluemix generator should generate datasources.bluemix.js:
  2) loopback:bluemix generator should generate .bluemix/datasources-config.json:
  3) loopback:bluemix generator should generate all basic Bluemix files:
  4) loopback:bluemix generator should generate only basic Bluemix files:
  5) loopback:bluemix generator should generate only Do

[2018-07-06 04:48] candytangnb opened #358 "[GSSC-PreTVT]Failed to see cs,pl,ru translation in cs,ru,pl"
Test case: 11.010.110

Issues:
though cs,pl,ru translation are merged in https://github.com/strongloop/generator-loopback/pull/356 and other prs, the strings are still in English

![image](https://user-images.githubusercontent.com/26452457/42360437-6799ffd2-811b-11e8-8aa7-db95f07f4954.png)

[2018-07-06 14:05] virkt25 commented on #358
Reason is that we haven't done a new release of the module yet since that PR landed. Should happen today / early next week.

[2018-07-11 03:29] candytangnb commented on #358
@virkt25 Sorry but has the new release been available now? If so, I will let Toolkit team to refresh a build.

[2018-07-11 14:31] virkt25 commented on #358
@candytangnb Yes this particular package was released 2 days ago. Most others have been released but some are pending. Can you please verify and close this issue. Thanks.

[2018-07-12 01:57] candytangnb commented on #358
@virkt25 I found that there are still some strings which are in English.
![image](https://user-images.githubusercontent.com/26452457/42608231-7807f16a-85b9-11e8-9546-5bcc70791f07.png)

@dhmlau I check these still in English strings and cannot find them in the Catch up drop sent out on Jun 11. I check Simplified Chinese and they have been translated. Maybe these strings are not sent out for transla

[2018-07-12 01:57] candytangnb commented on #358
@virkt25 I found that there are still some strings which are in English.
![image](https://user-images.githubusercontent.com/26452457/42608231-7807f16a-85b9-11e8-9546-5bcc70791f07.png)

@dhmlau I check these still in English strings and cannot find them in the Catch up drop sent out on Jun 11. I check Simplified Chinese and they have been translated. Maybe these strings are not sent out for transla

[2018-07-13 13:53] virkt25 commented on #358
Looks like those strings just never got translated

[2018-07-17 03:49] candytangnb commented on #358
@dhmlau This test case is included in Catchup TVT begin on Jul 17 & Jul 25. Could these string be ready today? If so, we will add a small drop for them.

[2018-07-17 14:38] dhmlau commented on #358
Mentioned to @candytangnb , the *.txt files in https://github.com/strongloop/generator-loopback/blob/master/intl/en/ folder need to be translated.  Thanks.

[2018-07-23 05:56] candytangnb commented on #358
@dhmlau do the strings in red line need to be translated? TVT testers open this English strings issue during TVT.
![image](https://user-images.githubusercontent.com/26452457/43059636-fea44646-8e7f-11e8-88ab-5afb57035591.png)

[2018-07-24 01:19] candytangnb commented on #358
the same issue in Simplified Chinese
<img width="578" alt="image" src="https://user-images.githubusercontent.com/26452457/43111209-acafd9b0-8f22-11e8-84bd-9019a392472e.png">

[2018-07-24 02:11] candytangnb commented on #358
@dhmlau as talking in slack, I summary the issues here
1. 'name' is in English for all 14 languages
2. strings in yellow are in English for 3 catchup languages. Translation have been merged in https://github.com/strongloop/generator-loopback/pull/359

![image](https://user-images.githubusercontent.com/26452457/43112662-b5c4c45a-8f29-11e8-8b13-1e1a481aa2fc.png)

[2018-07-24 21:49] dhmlau commented on #328
The descriptions are coming from the project templates, i.e. the following files:
https://github.com/strongloop/loopback-workspace/blob/master/templates/projects/empty-server/data.js
https://github.com/strongloop/loopback-workspace/blob/master/templates/projects/api-server/data.js
https://github.com/strongloop/loopback-workspace/blob/master/templates/projects/hello-world/data.js
https://github.com

[2018-07-24 21:53] bajtos commented on #328
I think we need to wrap the string values in `g.f()` call, e.g.

[code]

[2018-07-26 15:52] #354 closed

[2018-07-26 21:38] #328 closed

[2018-07-27 03:08] dhmlau commented on #358
@candytangnb , thanks for the summary.  Will look into it.

[2018-08-01 20:37] jannyHou commented on #355
Here is a list of items to do/finished:

- [x] Updated the `acl` generator to extend the latest yeoman generator class
- [x] Updated the tests for `acl` generator to use `yeoman-test`
- [x] Update `loopback-cli` to create the `env` from `yeoman-environment`, see PR https://github.com/strongloop/loopback-cli/pull/71
- [ ] Fix the `help` option
- [ ] Update all generators
  - [ ] app
  - [ ] bluemix

[2018-08-13 08:51] candytangnb commented on #329
@dhmlau any updates on this issue? We will begin 3Q TVT next week.

<img width="646" alt="image" src="https://user-images.githubusercontent.com/26452457/44022014-fe2117cc-9f18-11e8-9420-0ca28bce642d.png">

[2018-08-14 08:30] gongkegongke opened #365 "[GSSC-PreTVT]English string occurs when input lb in command line in JPN locale"
Test Case: 11.020.030

![image](https://user-images.githubusercontent.com/34856053/44080566-00d43992-9fdf-11e8-860b-e9f81faf0f6e.png)
![image](https://user-images.githubusercontent.com/34856053/44080523-dd91dcdc-9fde-11e8-9d81-24ee74a29a30.png)
![image](https://user-images.githubusercontent.com/34856053/44080541-eaaf7ffa-9fde-11e8-9534-e7df16766a34.png)

Issue: English string occurs when input **l

[2018-08-14 08:35] gongkegongke opened #366 "[GSSC-PreTVT]English string occurs when input lb model in command line in JPN locale"
Test Case: 11.020.040

![image](https://user-images.githubusercontent.com/34856053/44080856-dc73e556-9fdf-11e8-8d30-2dcaa78ecad4.png)
![image](https://user-images.githubusercontent.com/34856053/44080890-ed93a92a-9fdf-11e8-984e-a78bfc00924e.png)

Issue: English string occurs when input **lb model** in command line

[2018-08-14 08:38] gongkegongke opened #367 "[GSSC-PreTVT]English string occurs when input node . in command line in JPN locale"
Test Case: 11.020.050

![image](https://user-images.githubusercontent.com/34856053/44081021-4eec9dc6-9fe0-11e8-81f1-5b464a2a3978.png)

Issue: English string occurs when input **node .** in command line

[2018-08-14 08:41] gongkegongke opened #368 "[GSSC-PreTVT]English string occurs when input lb acl in command line in JPN locale"
Test Case: 11.020.060

![image](https://user-images.githubusercontent.com/34856053/44081194-ba2a626c-9fe0-11e8-91fd-6649d40cac00.png)
![image](https://user-images.githubusercontent.com/34856053/44081214-c66eec0a-9fe0-11e8-8fa9-87bb17d84a47.png)

Issue: English string occurs when input **lb acl** in command line

[2018-08-14 08:44] gongkegongke opened #369 "[GSSC-PreTVT]English string occurs when input lb app in command line in JPN locale"
Test Case: 11.020.070

![image](https://user-images.githubusercontent.com/34856053/44081392-2f97498e-9fe1-11e8-9921-bb1c6de7a20b.png)
![image](https://user-images.githubusercontent.com/34856053/44081411-382e0484-9fe1-11e8-95c7-1113a63c24ae.png)

Issue: English string occurs when input **lb app** in command line

[2018-08-14 08:48] gongkegongke opened #370 "[GSSC-PreTVT]English string occurs when input lb datasource in command line in JPN locale"
Test Case: 11.020.100

![image](https://user-images.githubusercontent.com/34856053/44081620-bc40fdd0-9fe1-11e8-9b2c-eb9389b2151c.png)

Issue: English string occurs when input **lb datasource** in command line

[2018-08-14 08:51] gongkegongke opened #371 "[GSSC-PreTVT]English string occurs when input lb export-api-def in command line in JPN locale"
Test Case: 11.020.110

![image](https://user-images.githubusercontent.com/34856053/44081780-284c0b00-9fe2-11e8-8e8c-e79345236228.png)

Issue: English string occurs when input **lb export-api-def** in command line

[2018-08-14 08:55] gongkegongke opened #372 "[GSSC-PreTVT]English string occurs when input lb middleware in command line in JPN locale"
Test Case: 11.020.120

![image](https://user-images.githubusercontent.com/34856053/44081918-845573aa-9fe2-11e8-99f4-216a0feefe7a.png)

Issue: English string occurs when input **lb middleware** in command line

[2018-08-14 08:59] gongkegongke opened #373 "[GSSC-PreTVT]English string occurs when input lb relation in command line in JPN locale"
Test Case: 11.020.150

![image](https://user-images.githubusercontent.com/34856053/44082279-4ec7195e-9fe3-11e8-8d23-2757d32bd212.png)

Issue: English string occurs when input **lb relation** in command line

[2018-08-14 09:02] gongkegongke opened #374 "[GSSC-PreTVT]English string occurs when input lb soap in command line in JPN locale"
Test Case: 11.020.170

![image](https://user-images.githubusercontent.com/34856053/44082362-90dc0d4a-9fe3-11e8-8605-48c239e50268.png)

Issue: English string occurs when input **lb soap** in command line

[2018-08-14 09:04] gongkegongke opened #375 "[GSSC-PreTVT]English string occurs when input lb swagger in command line in JPN locale"
Test Case: 11.020.180

![image](https://user-images.githubusercontent.com/34856053/44082479-ecad6f92-9fe3-11e8-8daa-8fc2625e8ce8.png)

Issue: English string occurs when input **lb swagger** in command line

[2018-08-14 09:06] gongkegongke opened #376 "[GSSC-PreTVT]English string occurs when input lb oracle in command line in JPN locale"
Test Case: 11.020.310

![image](https://user-images.githubusercontent.com/34856053/44082571-359fe720-9fe4-11e8-8378-a64b36aba31c.png)

Issue: English string occurs when input **lb oracle** in command line

[2018-08-14 21:11] dhmlau commented on #376
It's fixed in this commit https://github.com/strongloop/generator-loopback/commit/f3c359ab4808399595dac108af6eed2a49c0ff32.  I just released generator-loopback@5.9.0 which contains the fix.
Please pick up the latest version of `generator-loopback` and try again. Thanks.

[2018-08-14 21:14] dhmlau commented on #375
I don't think that's something we can fix.
- text in the first 2 highlighted box is coming from Yeoman, one of our our dependencies
- text in last highlighted box is the datasource names and types. They should not be translated.

@raymondfeng @bajtos , could you please confirm?  Thanks.

[2018-08-16 00:30] dhmlau commented on #367
Closing as duplicate of https://github.com/strongloop/generator-loopback/issues/329

[2018-08-16 00:43] dhmlau commented on #369
Text in the first and third highlighted box is coming from Yeoman, one of our dependencies.  This is not something we can fix.
For the 2nd box, the names of the application kind are not meant to be translated. However the description should be translated.  We got the translation files 3 days ago and just released `loopback-workspace@4.3.1`.  Could you please try again?  You should see the descript

[2018-08-16 00:43] #367 closed

[2018-08-16 00:57] dhmlau commented on #366
Working as designed.
- `(Use arrow keys)` and `(Move up and down...)` are coming from one of our dependencies and cannot be fixed
- the rest are not supposed to be translated.

[2018-08-16 00:58] dhmlau commented on #370
@jannyHou , do you know where are the highlighted text coming from?  I tried to search in this repo and loopback-cli but couldn't find it.  Thanks.

[2018-08-16 02:05] candytangnb commented on #376
@dhmlau I download the latest master build 2076 today from https://na.artifactory.swg-devops.com/artifactory/webapp/#/builds/velox-toolkit-master/2076/1534369183514/velox-toolkit-master. But still see English strings.
<img width="1059" alt="image" src="https://media.github.ibm.com/user/17224/files/75f5eb64-a13b-11e8-9b3d-d30d9a6f6a33">

[2018-08-16 02:12] candytangnb opened #377 "[GSSC-TVT]apic lb -h: 'name' is in English"
Test case: 11.010.110

Issues:
string '' name' is in English.
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/26452457/44183264-db0d6d00-a13c-11e8-977f-0b7f757ca47f.png">

[2018-08-16 02:13] candytangnb commented on #358
The original problem in this issue is fixed now.For English string 'name' issues, I open a new issue to track it.https://github.com/strongloop/generator-loopback/issues/377
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/26452457/44183171-8ec22d00-a13c-11e8-82ea-187d0532f921.png">

[2018-08-16 02:13] #358 closed

[2018-08-16 11:55] gongkegongke opened #378 "[GSSC-PreTVT]English string occurs when input lb acl in command line in RUS locale"
Test Case: 11.020.060

Issue: English string occurs when input lb acl in command line

![image](https://user-images.githubusercontent.com/34856053/44206982-1dab6580-a18e-11e8-99c2-2de4820bd643.png)
![image](https://user-images.githubusercontent.com/34856053/44206994-2d2aae80-a18e-11e8-918f-ad95dce27ff6.png)
![image](https://user-images.githubusercontent.com/34856053/44207009-361b8000-a18e-11e8-9ef

[2018-08-16 11:59] gongkegongke commented on #369
I tried the build with RUS locale, the issue still exists

![image](https://user-images.githubusercontent.com/34856053/44207195-e38e9380-a18e-11e8-8771-35e4231d4555.png)

[2018-08-16 13:34] virkt25 commented on #370
It comes from `loopback-workspace`, in particular this: https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json#L10-L20

[2018-08-16 14:27] dhmlau commented on #369
The screen cap from https://github.com/strongloop/generator-loopback/issues/369#issuecomment-413521226 is showing the expected behavior.  As mentioned [above](https://github.com/strongloop/generator-loopback/issues/369#issuecomment-413384927), this is coming from Yeoman and not something we can fix.

The one that it should be translated is the description of the application kind, which it is.
<img

[2018-08-16 21:08] dhmlau commented on #376
PR https://github.com/strongloop/generator-loopback/pull/379.

@candytangnb , sorry that I didn't extract the messages properly last time, so this line is not correct: https://github.com/strongloop/generator-loopback/blob/master/intl/en/messages.json#L222.

Would like to see your thoughts on getting it changed in the translated version.  Supposedly, I just need to add `{0}` in the corresponding me

[2018-08-17 02:02] candytangnb commented on #376
To keep translation consitent between DEV and translators, we would suggest DEV do not update translation files by yourself. We will add an emergency drop for pretvt issues. Specific time will be updated in mail later.

[2018-08-17 03:42] dhmlau commented on #376
ok thanks. It looks like we have some other changes in the message file too.

[2018-08-17 03:45] dhmlau commented on #369
With the reasons above, I'd like to close this ticket. Thanks.

[2018-08-17 03:45] #369 closed

[2018-08-17 03:54] raymondfeng commented on #375
@dhmlau Your assessment is correct.

[2018-08-17 04:01] raymondfeng commented on #372
No.

[2018-08-17 13:34] dhmlau commented on #365
Closing as duplicate of https://github.com/strongloop/generator-loopback/issues/369
The description of the application kind should be translated in the latest release of `loopback-workspace@4.3.1`.  Please also see my comment in https://github.com/strongloop/generator-loopback/issues/369#issuecomment-413564943.

[2018-08-17 13:34] #365 closed

[2018-08-17 13:51] dhmlau commented on #372
Thanks.
Closing as `working as designed`.

[2018-08-17 13:51] #372 closed

[2018-08-17 13:51] dhmlau commented on #374
Closing as `working as designed.  Thanks.

[2018-08-17 13:51] #374 closed

[2018-08-17 14:17] dhmlau commented on #375
Closing as `working as designed`.  Please see the above 2 comments [here](https://github.com/strongloop/generator-loopback/issues/375#issuecomment-413018354) and [here](https://github.com/strongloop/generator-loopback/issues/375#issuecomment-413750516).

[2018-08-17 14:18] #375 closed

[2018-08-17 19:31] dhmlau commented on #371
Most of the text should not be translated because the output is the swagger spec.  However, the `summary` can be translated.  One of `summary` is coming from here: https://github.com/strongloop/loopback/blob/master/lib/model.js#L639

[2018-08-17 19:33] dhmlau commented on #377
PR #380 has merged.  Next step is to get the messages.json file translated.

[2018-08-17 19:34] dhmlau commented on #376
PR #379 is merged.  Next step is to get the messages.json translated.

[2018-08-17 19:52] dhmlau commented on #378
It seems to be working fine for me. Please see the screen caps below.  We just released

<img width="391" alt="2018-08-17 3 43 33" src="https://user-images.githubusercontent.com/25489897/44285920-22772480-a235-11e8-91f4-5a02afd0256a.png">
<img width="531" alt="2018-08-17 3 43 46" src="https://user-images.githubusercontent.com/25489897/44285923-2440e800-a235-11e8-9fae-8252171d63ab.png">
<img width=

[2018-08-17 19:54] dhmlau commented on #370
@raymondfeng , the text is coming from the json file @virkt25 mentioned. Any idea how we can get it translated?  Thanks.

[2018-08-17 21:09] dhmlau commented on #368
PR #381

[2018-08-20 02:09] gongkegongke commented on #329
is there any update about this issue? I found this issue still exists in the latest build.

![image](https://user-images.githubusercontent.com/34856053/44316935-0bb51580-a461-11e8-844a-bb94f363f53a.png)

[2018-08-20 02:27] gongkegongke commented on #378
I just verified on latest build, some strings are translated now, but there are still 2 strings that are not translated, please help to check.

![image](https://user-images.githubusercontent.com/34856053/44317373-76ffe700-a463-11e8-8506-4e64bba86b08.png)
![image](https://user-images.githubusercontent.com/34856053/44317386-897a2080-a463-11e8-9985-76acbff0ae63.png)

[2018-08-20 09:54] gongkegongke commented on #370
some more English strings are found in this panel, please help to check.

![image](https://user-images.githubusercontent.com/34856053/44333652-00360e80-a4a2-11e8-9447-954f452f6f8d.png)

[2018-08-20 09:58] gongkegongke opened #382 "[GSSC-PreTVT]English string occurs when input lb boot-script in command line in RUS, CHS,FRA locale"
Test Case: 11.020.030

![image](https://user-images.githubusercontent.com/34856053/44333797-7175c180-a4a2-11e8-8848-927d59f3335f.png)
![image](https://user-images.githubusercontent.com/34856053/44333818-7b97c000-a4a2-11e8-9c46-d0837ba33230.png)
![image](https://user-images.githubusercontent.com/34856053/44333877-a41fba00-a4a2-11e8-8e43-9fe28da69399.png)

Issue: English string occurs when input boo

[2018-08-20 12:51] dhmlau commented on #370
@gongkegongke , text above is also coming from available-connectors.json.
https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json#L598-L615

[2018-08-20 13:35] dhmlau commented on #378
@gongkegongke , it's covered in https://github.com/strongloop/generator-loopback/issues/368.  Both will be fixed in this PR: https://github.com/strongloop/generator-loopback/pull/381.

[2018-08-20 13:36] dhmlau commented on #378
Since this issue is not specific to RUS and already covered in #368 , I'm closing this as duplicate of #368.

[2018-08-20 13:37] dhmlau commented on #368
The mentioned PR will fix the 2 issues:
- `(all existing models)`
- `other`

[2018-08-20 13:39] #378 closed

[2018-08-20 13:51] dhmlau commented on #382
@gongkegongke, while the `async` and `sync` words used in the code are translatable, the 2 words  didn't get translated.

Please see the 2 lines for Chinese:
https://github.com/strongloop/generator-loopback/blob/master/intl/zh-Hans/messages.json#L17
https://github.com/strongloop/generator-loopback/blob/master/intl/zh-Hans/messages.json#L84

And Russian
https://github.com/strongloop/generator-loopb

[2018-08-20 17:04] dhmlau commented on #371
PR https://github.com/strongloop/loopback/pull/3971

[2018-08-20 17:46] dhmlau commented on #377
Paused by translation.  Next translation drop is Aug 21.

[2018-08-20 17:46] dhmlau commented on #376
Paused by translation.  Next translation drop is Aug 21.

[2018-08-20 17:48] dhmlau commented on #368
PR #381 is merged. Next is to wait for the translation file to come back from the Aug 21 drop.

[2018-08-20 17:53] raymondfeng commented on #370
Interesting. I'm not sure if `strong-globalize` scans/translates json files. One possible workaround is to convert it to a `js` file.

[2018-08-20 17:53] jannyHou commented on #370
@dhmlau should be fixed by wrapping [this code](https://github.com/strongloop/generator-loopback/blob/master/datasource/index.js#L188) by `g.f()`

[2018-08-20 20:37] dhmlau commented on #382
I'm closing this ticket since the code is already doing what it's supposed to.  It is up to the translation team to get it translated if applicable.

[2018-08-20 20:37] #382 closed

[2018-08-22 13:25] dhmlau commented on #329
The highlighted text is coming from the template: https://github.com/strongloop/loopback-workspace/blob/master/templates/projects/empty-server/files/server/server.js#L13-L16.

@raymondfeng, I'm thinking to close this ticket as limitation because it requires redesign in order to get those 2 lines of text translatable.  What do you think?

[2018-08-22 13:28] dhmlau commented on #368
Translation for ja/zh/ko are in.  Released in `generator-loopback@5.9.1`

[2018-08-22 13:28] dhmlau commented on #376
Translation for ja/zh/ko are in.  Released in `generator-loopback@5.9.1`

[2018-08-22 13:28] dhmlau commented on #371
Translation for ja/zh/ko are in.  Released in `generator-loopback@5.9.1`

[2018-08-22 13:29] dhmlau commented on #377
Translation for ja/zh/ko are in.  Released in `generator-loopback@5.9.1`

[2018-08-28 02:13] candytangnb opened #388 "[GSSC-TVT]Translator need more Additional information"
Test case:11.020.040, 11.020.100

11.020.040
Please check if following strings are used only for model:

Expose {0} via the REST API?
Let's add some {0} properties now.
Select the datasource to attach {0} to:

In Polish language we need to add descriptor before variable. So those strings cannot be used in many places.
If it is used in many places please create new segments only for model.
![image]

[2018-08-28 20:11] jannyHou opened #389 "Fix the skipped test cases after upgrading to yeoman-generator@3.x"
# Description/Steps to reproduce

A follow up issue of https://github.com/strongloop/generator-loopback/pull/363
Fix the 2 skipped tests in `datasource.test.js`

# Expected result

The 2 skipped tests pass

[2018-08-30 17:37] jannyHou commented on #355
I am closing it since PR https://github.com/strongloop/generator-loopback/pull/363 landed.

Please note there are 2 tests skipped, created a follow up issue to fix them in https://github.com/strongloop/generator-loopback/issues/389

[2018-08-30 17:37] #355 closed

[2018-09-04 06:17] candytangnb commented on #388
@virkt25  Here comes the updates from Polish tester. Please investigate.

Hello,
Please create new segment for "Select the datasource to attach {0} to:" that will be used only in this context, so we could translate it properly.
Regards,
Filip

[2018-09-05 16:11] virkt25 commented on #388
Not sure I understand what is meant by `create a new segment`.

cc: @dhmlau

[2018-09-05 18:56] dhmlau commented on #377
All the translation files have been released.  Closing this ticket as resolved.

[2018-09-05 18:56] #377 closed

[2018-09-05 18:56] dhmlau commented on #376
All the translation files have been released.  Closing this ticket as resolved.

[2018-09-05 18:56] #376 closed

[2018-09-05 18:56] dhmlau commented on #371
All the translation files have been released.  Closing this ticket as resolved.

[2018-09-05 18:56] #371 closed

[2018-09-05 18:56] dhmlau commented on #368
All the translation files have been released.  Closing this ticket as resolved.

[2018-09-05 18:56] #368 closed

[2018-09-11 06:39] candytangnb commented on #376
verified and fixed
<img width="588" alt="image" src="https://user-images.githubusercontent.com/26452457/45342393-69f09680-b5d0-11e8-921c-1c7e46e5d95f.png">

[2018-09-11 06:49] candytangnb commented on #388
@virkt25 @dhmlau
Now, only one string in files
 "729c31c15b04f2f5258373531a9a81c3": "Select the datasource to attach {0} to:",

However, for Polish, if this string used in both model and swagger, then the translation for the string will be different.
So polish testers need that something like this
 "729c31c15b04f2f5258373531a9a81c3.**model**": "Select the datasource to attach {0} to:",
 "729c31c15

[2018-09-12 00:56] dhmlau commented on #388
@candytangnb, I was looking up where the string "Select the datasource to attach" is being used.  I think there is only one instance.
https://github.com/strongloop/generator-loopback/search?q=%22Select+the+datasource+to+attach%22&unscoped_q=%22Select+the+datasource+to+attach%22

Not sure if I understand the issue correctly,
- for models, `"729c31c15b04f2f5258373531a9a81c3": "Select the datasource

[2018-09-12 07:09] candytangnb commented on #388
@dhmlau Thanks so much for the info.

[2018-09-12 13:16] dhmlau commented on #388
@candytangnb , with the above info, is this issue good to close? Or there's something outstanding?

[2018-09-13 01:48] candytangnb commented on #388
As normally, for tvt issues, we will close issues after confirmation from testers.

[2018-09-15 19:07] dhmlau commented on #370
With the [above comment ](https://github.com/strongloop/generator-loopback/issues/370#issuecomment-415030167), I'm closing this ticket as limitation.

[2018-09-15 19:07] #370 closed

[2018-09-18 09:41] candytangnb commented on #388
Close per tester's comment
![image](https://user-images.githubusercontent.com/26452457/45678937-151dc480-bb6a-11e8-8ca8-bb1540625a9c.png)

[2018-09-18 09:41] #388 closed

[2018-09-20 15:35] dhmlau opened #394 "Backport translation fix to 5.x"
Backport this PR to 5.x branch

[2018-09-20 15:35] dhmlau commented on #394
@jannyHou , could you please take care of that? thanks.

[2018-10-23 17:10] dhmlau commented on #389
@jannyHou , after all the tests passed in `generator-loopback`, any outstanding tasks need to be done in order to release a semver-major version of `loopback-cli` to make use of the new `generator-loopback`?

[2018-10-23 18:16] jannyHou commented on #389
@dhmlau I would say this task shouldn't block the semver-major release of `loopback-cli`.

[2018-11-02 16:01] dhmlau commented on #394
sorry.. i forgot to put the PR link: https://github.com/strongloop/generator-loopback/pull/393

[2019-02-08 14:58] bajtos commented on #389
This task has been sitting in backlog for ~6 months by now and there was no problem (regression) caused by the fact that we are skipping some of the tests. Considering how little changes we are making in generator-loopback anyways, I am proposing to close this issue as "wontfix".

@jannyHou thoughts?

[2019-02-11 18:45] jannyHou commented on #389
I manually verified those two commands work on local, the time was spent on figuring out how to use yeoman-test functions(haven't found a good solution yet).
I am good to close it.

[2019-02-11 19:51] dhmlau commented on #389
Closing per [above comment](https://github.com/strongloop/generator-loopback/issues/389#issuecomment-461829478).

[2019-02-11 19:51] #389 closed

[2019-05-20 21:41] rzorgani opened #409 "lb model don't work"
# Description/Steps to reproduce
lb -v
3.0.0 (generator-loopback@4.0.1 loopback-workspace@3.44.2)
node -v
v10.15.3
npm -v
6.9.0
I create my project from long time (more than one year), I'm trying to add some feature, so I decide to add new model.
D:\api-project>lb model
? Entrer le nom du modèle : car

# Link to reproduction sandbox

# Expected result
model will be created correctly

actual result

[2019-05-21 20:50] dhmlau commented on #409
@rzorgani, I wasn't able to reproduce it using the latest versions of the modules.  Could you please update to the most recent versions?

I'm using `loopback-cli@5.0.2` and in the LB app, I have the following in package.json:
[code]

[2019-05-21 21:05] rzorgani commented on #409
@dhmlau , Thanks for your quick reply,
this is my current configuration:
[code]

[2019-05-22 13:46] dhmlau commented on #409
@rzorgani , thanks. Do you think you could update to use `loopback-cli@5.0.2`?

[2019-05-22 19:06] rzorgani commented on #409
I have this error when I install npm i -g loopback-cli@5.0.2
[code]

[2019-05-24 03:09] dhmlau commented on #409
@rzorgani, it seems like this issue is similar to what's described in https://github.com/strongloop/loopback-cli/issues/69. You might want to take a look. Thanks.

[2019-06-19 22:03] dhmlau commented on #409
@rzorgani , we've removed the dependency on ursa in the `strong-soap` repo, and believe your problem will be fixed after updating to the latest version of `loopback-cli`.  Thanks.

[2019-06-19 22:03] #409 closed

[2019-07-16 15:51] bajtos commented on #125
generator-loopback has moved to LTS mode, we are not going to add any new features.

[2019-07-16 15:51] #125 closed

[2019-07-23 19:19] dhmlau commented on #139
Closing due to inactivity.  This module will only be used for LB3.

[2019-07-23 19:19] #139 closed

[2019-09-04 19:41] dhmlau commented on #343
This module is only applicable to LoopBack 3 which will go EOL in Dec 2020.  Given our current priorities and bandwidth, we won't be able to get to it in a near future.  Closing this ticket.

[2019-09-04 19:41] #343 closed

[2019-10-01 18:23] #394 closed